[2017-03-16 23:33] tannergooding opened #1222 "Expand the Perf test coverage for the System.Numerics.Vector types"
The current perf test coverage for the System.Numerics.Vector types is fairly limited (this extends to types such as Matrix4x4, Quaternion, and Plane as well).

Given that these are meant to be fairly core high-performance types (used in things such as Multimedia-based applications), it is important that we have a high amount of perf-test coverage over the current implementations.

[2018-03-27 18:07] brianrob opened #14 "Set PERFSNAKE Machines to Auto-Connect to Jenkins"
Right now, most PERFSNAKE machines don't auto-connect to Jenkins, which means that manual intervention is needed whenever machines go down for any reason.

In order for us to increase the number of performance runs for both daily builds and PRs, we need to make sure that our machine pool is resilient to restarts and outages.

@anscoggi, @adiaaida can one of you take this?

Required for https://git

[2018-04-10 13:13] adamsitnik opened #26 "Road to BenchmarkDotNet"
This is a list of requirements that need to be met before we switch from xunit-performance to BenchmarkDotNet.

Missing features:
- [x]  https://github.com/dotnet/BenchmarkDotNet/issues/587 "Support netcoreapp2.1" (fixed by @eerhardt, was part of `0.10.11` release)
- [x]  https://github.com/dotnet/BenchmarkDotNet/issues/256 https://github.com/dotnet/BenchmarkDotNet/issues/350 https://github.com/do

[2018-05-10 04:05] jorive opened #27 "[Jenkins] Python 3 bat script returned exit code 103"
We have been hitting in the lab a similar error to what is described here: https://issues.jenkins-ci.org/browse/JENKINS-35009.

[2018-05-17 16:15] luhenry opened #32 "Make it possible to run with Mono"
It would be amazing for this benchmarking suite to run on top of Mono. This would allow us to more easily compare performance across the different runtimes, as well as help the Mono team identify where we should focus our performance work.

What should we do on our end to make it easier for you?

Thank you!

[2018-06-20 12:14] adamsitnik opened #39 "Investiage multimodal BinaryTrees_5"
The `BinaryTrees_5` is a bimodal benchmark.

Example histograms from BenchmarkDotNet:

[code]

[code]

Sample results from xunit-performance (please look at the Min value):

 DotNetBenchmark-binarytrees-5.dll     | Metric   | Unit | Iterations |  Average | STDEV.S |      Min |      Max
:------------------------------------- |:-------- |:----:|:----------:| --------:| -------:| --------:| --------:

[2018-06-20 12:21] adamsitnik opened #40 "Implement ETW Profiler for BDN like we have for xunit"

[2018-06-20 12:50] adamsitnik opened #41 "Investigate bimodal SpectralNorm_3"
The SpectralNorm_3 is a bimodal benchmark.

Example histograms from BenchmarkDotNet:

[code]

[code]

Sample results from xunit-performance (please look at the Min and Max value):

 DotNetBenchmark-spectralnorm-3.dll     | Metric   | Unit | Iterations |  Average | STDEV.S |      Min |      Max
:-------------------------------------- |:-------- |:----:|:----------:| --------:| -------:| --------:|

[2018-06-20 15:31] adamsitnik opened #42 "Redesign EnumPerf.ObjectGetType"
JIT is smart and knows that `enum.GetType()` is a constant, so it optimizes it away. Unfortunately, it's keeping the empty loop.

[code]

![image](https://user-images.githubusercontent.com/6011991/41668622-0662ae98-74b0-11e8-980c-47c006b1c4e0.png)

[2018-06-26 12:24] adamsitnik opened #44 "Port and improve Perf_Marvin"
- [x] Port from xunit-performance to BenchmarkDotNet
- [x] investigate why the benchmarks are not calling Marvin API from CoreFX, but instead, have it's own [copy](https://github.com/dotnet/performance/blob/master/src/CoreFx/Common/Marvin.cs) of the hashing algorithm. IMHO it creates a need to synchronize the code between repositories and makes it possible to miss a regression if somebody changes

[2018-06-26 12:34] adamsitnik opened #45 "Port System.Collections.Concurrent.Performance.Tests"
These tests contain a lot of setup/cleanup logic, porting them will not be trivial

[2018-06-26 12:55] adamsitnik opened #46 "Port System.Collections.NonGeneric.Performance.Tests"
These tests contain a lot of setup/cleanup logic, good issue for a start

[2018-06-26 13:00] adamsitnik opened #47 "Port System.Collections"
A LOT of benchmarks. We should make sure that all the test cases make sense.

[2018-06-26 13:04] adamsitnik opened #48 "Port and cleanup Perf.TypeDescriptorTests"
- [x] Port
- [x] compare the results for every type used as an argument, remove the types with similar results
- [x] move the unit testing part to CoreFX unit tests project

[code]

[2018-06-26 13:09] adamsitnik opened #49 "Port System.Console.Performance.Tests"
These tests are benchmarking Console, which is also used by BenchmarkDotNet to report results. Might be a challenging task to make it work.

[2018-06-26 13:16] adamsitnik opened #50 "Port and possibly redesign System.Diagnostics.Process.Performance.Tests"
- [x] Port
- [x] Investigate why all of them are disabled https://github.com/dotnet/corefx/issues/16653
- [x] Redesign those ones which need a redesign

[2018-06-26 13:19] adamsitnik opened #51 "Port System.Globalization.Performance.Tests"
Very good issue for a start!

[2018-06-26 13:23] adamsitnik opened #52 "Port System.IO.Compression.Brotli.Performance.Tests"
- [x]  Port
- [x]  Make sure it makes sense to benchmark all the permutations
- [x]  Remove the asserts, move them to unit test project if they are not tested otherwise

[2018-06-26 13:27] adamsitnik opened #53 "Port System.IO.Compression.Performance.Tests"
- [x]  Port
- [x]  Make sure it makes sense to benchmark all the permutations

[2018-06-26 13:41] adamsitnik opened #54 "Port System.IO.FileSystem.Performance.Tests"
- [x] Port
- [x]  Use some static analysis tool and remove dead code
- [x]  Investigate what `[OuterLoop]` is and if we need it in BDN?

[2018-06-26 13:44] adamsitnik opened #55 "Port System.IO.MemoryMappedFiles.Performance.Tests"
- [x] Port
- [ ] Use some static analysis tool and remove dead code
- [x] Move the asserts to unit test project
- [ ] Reduce the number of permutations

[2018-06-26 13:48] adamsitnik opened #56 "Port System.IO.Pipes.Performance.Tests"
- [x] Port
- [x] Investigate https://github.com/dotnet/corefx/issues/18290 and make sure we can disable benchmark per OS

[2018-06-26 13:52] adamsitnik opened #57 "Port System.Linq.Performance.Tests"

[2018-06-26 13:57] adamsitnik opened #58 "Port System.Memory.Performance.Tests"
There is a LOT of Memory benchmarks

- [x] Port
- [x] Make sure we don't measure empty loops:
- [x] Take a short look at CoreCLR Span benchmarks, create new issue for removing duplicated benchmarks

[code]

[2018-06-26 13:59] adamsitnik opened #59 "Port System.Net.Http.Performance.Tests"

[2018-06-26 14:01] adamsitnik opened #60 "Port System.Net.Primitives.Performance.Tests"

[2018-06-26 14:02] adamsitnik opened #61 "Port System.Net.Sockets.Performance.Tests"

[2018-06-26 14:05] adamsitnik opened #62 "Find and port System.Numerics.Vectors.Performance.Tests"
The [folder](https://github.com/dotnet/performance/tree/master/src/CoreFx/System.Numerics.Vectors) where the benchmarks should be contains no benchmarks.

- [x]  Find the benchmarks
- [x]  Port

/cc @DrewScoggins @jorive

[2018-06-26 14:07] adamsitnik opened #63 "Port System.Xml.XmlDocument.Performance.Tests"

[2018-06-26 14:11] adamsitnik opened #64 "Port System.Runtime.Extensions.Performance.Tests"

[2018-06-26 14:14] adamsitnik opened #65 "Port System.Runtime.Numerics.Performance.Tests"
- [ ]  Port
- [ ]  Make sure we don't benchmark empty loops

[code]

[2018-06-26 14:18] adamsitnik opened #66 "Remove System.Runtime.Serialization.Json.Performance.Tests"
We already have a LOT of serializer benchmarks

- [x] Add the JSON.NET and DataContractSerializer benchmarks to CoreFX category
- [x] Add the JSON.NET and DataContractSerializer benchmarks to CoreCLR category

[2018-06-26 14:20] adamsitnik opened #67 "Analyze System.Runtime.Serialization.Xml and decide whethere to remove them or not"
We already have a LOT of serializer benchmarks in the performance repo

- [x] Compare what we have vs CoreFX benchmarks
- [x] Remove the duplicated benchmarks

[2018-06-26 14:35] adamsitnik opened #68 "Port System.Runtime.Performance.Tests"
- [x] Port
- [x] Make sure we don't benchmark empty loops

[code]

- [ ] Make sure we don't run more permutations than needed:

[code]

[code]

[2018-06-26 14:38] adamsitnik opened #69 "Port System.Security.Cryptography.Primitives.Performance.Tests"
Compare the results, if they are not much different, remove some benchmarks

[2018-06-26 14:40] adamsitnik opened #70 "Port System.Text.Encoding.Performance.Tests"
- [x] Port
- [x] Reduce the number of test cases

[2018-06-26 14:45] adamsitnik opened #71 "Port System.Text.RegularExpressions.Performance.Tests"
- [x] Port
- [x] Keep THIRD-PARTY-NOTICES
- [x] Check the stability of multithreaded benchmarks

[2018-06-26 14:47] adamsitnik opened #72 "Port System.Threading.Channels.Performance.Tests"

[2018-06-26 14:51] adamsitnik opened #73 "Port System.Threading.Tasks.Extensions.Performance.Tests"

[2018-06-26 14:54] adamsitnik opened #74 "Port System.Threading.Performance.Tests"
- [x]  Port
- [x]  Remove the tests duplicated by CoreCLR benchmarks

[2018-06-29 13:57] #73 closed, assigned to adamsitnik

[2018-06-29 14:42] ViktorHofer opened #76 "Support for SupplementalTestData"
For some benchmarks we use test data that is not included in the repository because of its size (i.e. 50MB text file). We store these files in https://github.com/dotnet/corefx-testdata and include them via a SupplementalTestData directive in our benchmark csproj file: https://github.com/dotnet/corefx/blob/master/src/System.Text.RegularExpressions/tests/Performance/System.Text.RegularExpressions.Pe

[2018-06-29 19:24] adamsitnik opened #78 "Ideas for reducing the time required to run all benchmarks"
@jorive  I am going to add all the ideas I have here and one day we can start the improvements from here.

1. ~~`PingPong` benchmark from `System.Threading.Channels.Tests` takes 2.5s to execute. It's executed for 3 channels, up to 20 times for each of them. 2.5 x 3 x 20 = 150 seconds. The solution would be to change the inner iteration count from 1_000_000 to 1_000 or any other smaller value.~~ fi

[2018-07-02 16:47] #74 closed, assigned to adamsitnik

[2018-07-03 12:49] #72 closed, assigned to adamsitnik

[2018-07-03 16:26] #66 closed, assigned to adamsitnik

[2018-07-06 11:33] adamsitnik opened #89 "Port System.Linq.Parallel.Performance.Tests"
I missed it because it was not ported to performance repo

[2018-07-09 16:51] #63 closed, assigned to adamsitnik

[2018-07-09 17:09] #62 closed, assigned to adamsitnik

[2018-07-09 17:10] #69 closed, assigned to adamsitnik

[2018-07-09 17:17] #49 closed, assigned to adamsitnik

[2018-07-10 11:58] adamsitnik opened #91 "Redesign LINQ benchmarks"
This is a #90 followup

1. ~~CoreFX benchmarks call `.ToArray()` everywhere, while they should just iterate over the enumeration (like the CoreCLR ones) ~~ fixed in #127
2. `Cast_ToBaseClass` and `Cast_SameType` ignore provided size and iteration count and use hardcoded values. We don't know if this is by design or a bug. (cc @jorive)
3. Some benchmarks use `iteration` some `iterationCount` argume

[2018-07-10 11:59] #57 closed, assigned to adamsitnik

[2018-07-11 08:24] #70 closed, assigned to adamsitnik

[2018-07-11 17:08] #48 closed, assigned to adamsitnik

[2018-07-13 20:00] adamsitnik opened #93 "Performance issues in System.Collection exposed by new benchmarks"
With the new benchmarks we can compare "apples to apples" which exposed a lot of interesting differences.

This issue is an aggregation of many issues, I will report them in CoreFX once I make the CoreFX dev experience very good.

[2018-07-20 10:19] #45 closed, assigned to adamsitnik

[2018-07-20 10:19] #47 closed, assigned to adamsitnik

[2018-07-20 10:19] #46 closed, assigned to adamsitnik

[2018-08-06 16:47] #65 closed, assigned to adamsitnik

[2018-08-06 16:49] adamsitnik opened #102 "Make sure all benchmarks runs on non-Windows OSes too"
Follow up of https://github.com/dotnet/performance/pull/100#issuecomment-410770218

After I am done with the port I will run all of the Benchmarks on MacOS and Ubuntu and fix the issues if there are any.

/cc @jorive

[2018-08-06 16:50] #59 closed, assigned to adamsitnik

[2018-08-06 18:47] #71 closed, assigned to adamsitnik

[2018-08-06 19:37] #61 closed, assigned to adamsitnik

[2018-08-08 06:01] #52 closed, assigned to adamsitnik

[2018-08-08 06:02] #53 closed, assigned to adamsitnik

[2018-08-08 06:03] #76 closed, assigned to adamsitnik

[2018-08-09 20:18] #55 closed, assigned to adamsitnik

[2018-08-09 20:18] #54 closed, assigned to adamsitnik

[2018-08-13 18:01] adamsitnik opened #113 "Port new SoA benchmarks from CoreCLR"
https://github.com/dotnet/coreclr/pull/18839

[2018-08-15 16:27] #60 closed, assigned to adamsitnik

[2018-08-15 16:28] #68 closed, assigned to adamsitnik

[2018-08-15 20:01] #44 closed, assigned to nobody

[2018-08-15 20:06] #51 closed, assigned to adamsitnik

[2018-08-23 16:33] #67 closed, assigned to adamsitnik

[2018-08-24 13:41] #56 closed, assigned to adamsitnik

[2018-08-24 13:42] #50 closed, assigned to adamsitnik

[2018-08-28 20:37] #64 closed, assigned to adamsitnik

[2018-08-29 08:26] #42 closed, assigned to nobody

[2018-08-29 08:36] #89 closed, assigned to adamsitnik

[2018-10-09 15:20] #40 closed, assigned to adamsitnik

[2018-10-17 01:17] jorive opened #137 "`BenchmarkDotNet.Artifacts` should be generated where `Benchmarks.dll` exists."
After running the micro-benchmarks, the results are dropped side-by-side with the `Benchmarks.csproj`.
If I run two different frameworks, one after the other, the initial results are overwritten.

[2018-10-17 18:44] #27 closed, assigned to nobody

[2018-10-19 11:50] adamsitnik opened #139 "Repo structure change proposal"
We are soon going to Open this repo and I think that we should change the folder structure before  we do that.

Currently we have:

[code]

My proposal for now

[code]

In the future I would like to add Java and C++ benchmarks to compare against our competition:

[code]

@jorive @brianrob what do you think? I want to get acceptance before I start working on the  PR ;p

[2018-10-19 20:21] #139 closed, assigned to nobody

[2018-10-31 18:41] #58 closed, assigned to adamsitnik

[2018-10-31 19:14] adamsitnik opened #146 "2.1 vs 2.2"
I took all the benchmarks we have an executed them using all the goodness we have here in the perf repo. I will be posting the results below.

Info:

[code]

[2018-11-06 21:30] brianrob commented on #14
This will no longer be an issue with new infra changes.

[2018-11-06 21:30] #14 closed

[2018-11-11 09:00] #102 closed

[2018-11-27 16:13] eanger opened #157 "Unable to find package Microsoft.DotNet.Arcade.Sdk"
Trying to build the micro benchmarks using the CLI (via `dotnet build -c Release`) fails with the following error:

dotnet-performance/Directory.Build.props(7,3): error : Unable to find package Microsoft.DotNet.Arcade.Sdk. No packages exist with this id in source(s): api.nuget.org, benchmarkdotnet-ci-feed, dotnet-core

This builds just fine before #155. Do I need to change my settings somehow to f

[2018-11-27 16:25] adamsitnik commented on #157
Hello @eanger !

We already have a fix for that waiting for review in #156. Until it gets merged, please apply the fix manually or revert the arcade commit

[2018-11-27 19:44] adamsitnik commented on #157
Fixed with #160

[2018-11-27 19:44] #157 closed

[2018-11-29 16:14] adamsitnik opened #161 "Create a simple tool for comparing results of different benchmark runs"
From @AndyAyersMS

My idea: write plain simple tool that import json files from two provided folders, does the statistical test and prints summary ordered descending by magnitude

[2018-12-10 18:12] adiaaida opened #179 "Update fork of AllReady to target new AspNetCore"
We have been seeing the following error when building AllReady as part of IBC training:

[code]

Here's what @adamsitnik had to say about it:

So we will need to update our fork (https://github.com/dotnet-perf-bot/AllReady) to handle this.

@billwert @brianrob @adamsitnik

[2018-12-10 21:11] adamsitnik commented on #137
Fixed by @jorive in #150

[2018-12-10 21:11] #137 closed

[2018-12-10 21:12] adamsitnik commented on #26
Closing as now we have all micro-benchmarks ported to BenchmarkDotNet and working on all OSes and all architectures.

[2018-12-10 21:12] #26 closed

[2018-12-12 13:23] adamsitnik opened #188 "Span<ReferenceType>.CopyTo is 10% slower than Array<ReferenceType>.CopyTo"
[code]

[code]
|           Type | Method |     Toolchain | Size |     Mean |     Error |    StdDev |   Median |      Min |      Max |
|--------------- |------- |-------------- |----- |---------:|----------:|----------:|---------:|---------:|---------:|
|  CopyTo&lt;Int32&gt; |  Array | netcoreapp2.1 | 2048 | 232.8 ns |  7.830 ns |  8.041 ns | 229.6 ns | 225.9 ns | 258.4 ns |  1.00 |    0.00 |
|  C

[2018-12-12 14:18] EgorBo opened #189 "Loop-unrolling"
Lots of benchmarks under micro/coreclr use inner loops (e.g. https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/coreclr/Bytemark/ByteMark.cs#L445-L455) - are they really needed there?
The problem is - when I run them using new mono-llvm (inprocess) - LLVM unrolls those loops 🙂 and probably .NET Core will also be able to unroll them soon

[2018-12-12 14:21] adamsitnik commented on #189
I ported these benchmarks 1:1 to make sure the results we report to BenchView don't change.

I think that we should keep it for the existing ones but avoid when adding new benchmarks to the repo.

@billwert @brianrob what do you guys think?

[2018-12-13 17:20] danmosemsft commented on #188
I assumed perf regressions (unless test issues) would still get logged in the same repo as the implementation. What is your guys thinking about this?

[2018-12-13 17:22] adamsitnik commented on #188
@danmosemsft  Good point. We need to talk about this with @billwert and @brianrob in January and agree on the process.

Also, with the new "Transfer this issue" feature from GitHub we should be able to easily move it.

[2018-12-13 18:17] danmosemsft commented on #188
If the plan is to open the issue in the same repo as the implementation, we'll want to consider how you'll connect that regression back to the issue when it comes up again or we want to check on progress. I'm not sure the best way to do that. One way that's a bit wacky could be to have a rolling issue here for eg., CoreFX regressions, regularly editing the top post to add links to new ones and rem

[2018-12-14 09:34] gfoidl commented on #188
Hm, I don't believe this will work safely. Rather it will get stale and outdated.

Maybe just open new issues here and tag them with labels, so via search one can filter all open issues?

[2018-12-14 18:10] adamsitnik opened #193 "2.1 vs 2.2 comparison using performance repo"
In this issue, I am going to post 2.1 vs 2.2 results for the benchmarks we have here using ResultsComparer from #165

Sample command:

[code]

[2018-12-14 18:35] adamsitnik commented on #193
## Ubuntu 18.04 x64 PC

ubuntu 18.04
Intel Xeon CPU E5-1650 v4 3.60GHz
BenchmarkDotNet 0.11.3.886-nightly
base: .NET Core 2.1.6 (CoreCLR 4.6.27019.06, CoreFX 4.6.27019.05)
diff: .NET Core 2.2.0 (CoreCLR 4.6.27110.04, CoreFX 4.6.27110.04)

| Slower                                                                                               | diff/base | Base Median (ns) | Diff Median (ns) | Modali

[2018-12-14 18:40] adamsitnik commented on #193
## macOS 10.13.6 x64 MacBook Pro

macOS High Sierra 10.13.6 (17G65) [Darwin 17.7.0]
Intel Core i7-5557U CPU 3.10GHz (Broadwell)
BenchmarkDotNet 0.11.3.886-nightly
base: .NET Core 2.1.5 (CoreCLR 4.6.26919.02, CoreFX 4.6.26919.02)
diff: .NET Core 2.2.0 (CoreCLR 4.6.27110.04, CoreFX 4.6.27110.04)

| Slower                                                                                               |

[2018-12-14 19:57] billwert commented on #188
Code defects causing performance problems should be tracked by issues in the repo where the code lives (or, in the case it is split across both, where we guess the majority of the fix will go.) I agree with @danmosemsft - Issues in this repo should cover test issues and infrastructure issues.

[2018-12-17 01:36] danmosemsft opened #199 "Easiest way to compare local changes vs baseline"
If I want to improve the performance of some scenario(s) in CoreFX I generally want to gather numbers based on my current HEAD then write those down and repeatedly try gathering numbers based on one or more sets of changes and compare them all easily with a proper statistical test without unnecessarily re-running any measurements. (Rerunning, as well as doubling (or more) the run time, requires me

[2018-12-17 01:48] danmosemsft opened #200 "Combine requested scenarios into one table?"
If I request more than one scenario eg with a pattern, then I get one JSON (or MD, etc) file per scenario. If they were in a single file, it would be easier to share data.

For example if I was working with the implementation of Dictionary, I might run `-f System.Collections.*.Dictionary* ` which runs about 30 tests and creates 30 markdown files. If I want to share the data then I have to manually

[2018-12-17 01:49] danmosemsft commented on #199
cc @stephentoub

[2018-12-17 02:20] stephentoub commented on #199
FWIW, you can pretty much already do this; I'd previously asked @adamsitnik for help with a similar situation, and he added a feature that makes this possible.  If you, for example, maintain multiple corefx repos (which if you're doing this kind of comparison you're probably doing in order to avoid lots of switching back and forth between branches, manually maintaining copies of artifacts, etc.),

[2018-12-17 02:49] danmosemsft opened #201 "How to start benchmark faster"
On my somewhat unpowered laptop (albeit with SSD), if I do this in `src\benchmarks\micro` (after previously building)
[code]
It takes 7-10 seconds to show any output and start running benchmarks

Looking at perfmon it's spending 4 seconds doing "/t:restore" on MicroBenchmarks.csproj (which seems to be enumerating all files under benchmarks\micro for some reason..) then another 3 seconds doing buil

[2018-12-17 02:53] danmosemsft commented on #199
Thanks @stephentoub , yes, Adam has [documented](https://github.com/dotnet/performance/blob/master/docs/benchmarking-workflow.md#checking-for-regressions-using-statistical-test) what you have above.

Re machine state changing - some of my measurements are on an otherwise idle Ubuntu machine, which doesn't seem to be prone to randomly deciding to do other work.

[2018-12-17 02:56] danmosemsft commented on #193
`System.Collections.ContainsKeyFalse<Int32, Int32>.Dictionary(Size: 512)` (eg) appears in both faster and slower. Can you clarify ?

[2018-12-17 06:06] adamsitnik commented on #199
@danmosemsft in such case we should be using the [Results Comparer](https://github.com/dotnet/performance/tree/master/src/tools/ResultsComparer)

[code]

I updated the docs and sent a PR https://github.com/dotnet/performance/pull/202

[2018-12-17 06:18] adamsitnik commented on #200
To print a single summary table and export results to one file you need to use:

[code]

It's mentioned in [docs](https://github.com/dotnet/performance/tree/master/src/benchmarks/micro#filtering):

[2018-12-17 06:18] #200 closed

[2018-12-17 06:20] adamsitnik commented on #193
@danmosemsft this benchmark is not stable. I guess that it's dependent on array or loop alignment. I need to to a research about the alignment issues.

[2018-12-17 06:21] danmosemsft commented on #200
Thank you...missed that in the docs.

[2018-12-17 21:56] EgorBo commented on #32
btw, I personally use "InProcess" toolchain (but I launch each benchmark in a separate process) - this is how I managed to run them in aot-llvm mode ;-)

[2018-12-17 22:16] adamsitnik commented on #32
@alexanderkyte @EgorBo I left some comments at https://github.com/dotnet/BenchmarkDotNet/pull/940 PTAL at those. As soon as we have it I am going to be more than happy to merge it!

[2018-12-18 17:20] danmosemsft commented on #193
@adamsitnik I guess most of these must be either noise, alignment or tiered jitting, given there were of course very few changes made in 2.2 corefx/coreclr that were not serviced into 2.1. Would it be interesting to repeat the 2.1->2.2 analysis with tiered jitting disabled? Then if the system is working well, I would expect just about zero regressions/improvements.

The 2.2->3.0 report will be muc

[2018-12-18 17:22] danmosemsft commented on #193
Another thing that might be interesting is to see what it looks like with the OS aggregated. I did a crude comparison of the regressions above by sort and diff and found only a very few of the rows appear in all the OS. In general most (?) times we regress something, it regresses for all OS. So it could be useful interesting check.

[2018-12-19 18:49] sandreenko opened #205 "How to run micro benchmarks"
Hello, I have tried to follow the readme but hit some issues:
`PS C:\Projects\performance\src\benchmarks> dotnet run -c Release -f netcoreapp2.0` showed me:
`Couldn't find a project to run. Ensure a project exists in F:\git\performance\src\benchmarks, or pass the path to the project using --project.`

so I moved to `micro` and then I got:
[code]

the same result for `-f netcoreapp2.2, 3.0 etc`,

I

[2018-12-19 18:56] adamsitnik commented on #205
@sandreenko sure!

This [document](https://github.com/dotnet/performance/blob/master/docs/benchmarking-workflow.md#build) describes how to build the micro benchmarks.

Please let me know if the doc is enough to get it running or not.

[2018-12-19 19:42] sandreenko commented on #205
Thank you, now it works.

[2018-12-19 19:42] #205 closed

[2018-12-19 19:46] adamsitnik commented on #205
@sandreenko thanks! please let me know if you run into any other issues

[2018-12-26 22:52] jorive commented on #189
@adamsitnik I thought we already removed those inner loops for some of the benchmarks.

[2018-12-30 14:26] MarcoRossignoli opened #209 "[Question]Run with --cli"
I'm trying to run benchmark with `--cli` options as outlined here https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/README.md#dotnet-cli
However if I don't have installed correct machine wide sdk I get error:
[code]
But it works if I use downloaded(non machine wide) sdk:
[code]
Is it expected?If so I propose to update guide with this scenario(I don't like install all preview m

[2018-12-30 16:58] adamsitnik commented on #209
Hi @MarcoRossignoli

We have a nice python script that can download the right dotnet cli and run the benchmarks for you. I am gonna add some docs for it soon.

As of now you can use it in following way:

[code]

/cc @jorive

[2018-12-30 17:00] MarcoRossignoli commented on #209
for `--CoreRun` list can we append after `--join`?

[2018-12-30 17:03] adamsitnik commented on #209
I am not sure if I understand correctly. You can combine both "--corerun" and "--join". The script that I have mentioned has native support for most of the bdn arguments like `--filter` `--corerun` but for some less popular like `--join` you need to pass it via `--bdn-arguments` option

[2018-12-30 17:05] adamsitnik commented on #189
@jorive for some yes, but not for all

[2018-12-30 17:06] MarcoRossignoli commented on #209
I meant that!Thank's!

[2018-12-31 18:00] jorive commented on #209
@MarcoRossignoli What version of Python are you running? We support >=3.5

[2018-12-31 18:12] MarcoRossignoli commented on #209
Ah ok 2.7...

[2018-12-31 18:18] jorive commented on #209
Python runtimes can live side-by-side. If you are running under Windows, then make sure you also install `py.exe`. This program knows what runtime to execute based on the [shebang](https://github.com/dotnet/performance/blob/master/scripts/benchmarks_ci.py#L1).

[2019-01-01 11:01] MarcoRossignoli commented on #209
FYI @jorive @adamsitnik  now it's ok with python runtime...however I've got issue with `--bdn-arguments`:
[code]
I need to escape param value to make it work:
[code]
I don't know if it expected.

[2019-01-01 12:14] MarcoRossignoli commented on #209
Issues with `--corerun`
1) If I try to run with custom corerun I get some errors(I tried to restart my laptop and to open only console to avoid involuntary file locking, without custom corerun all works well)
[code]

2) I need a way to pass more than one custom corerun because I want compare pre and post updates. How can I pass "list" of arguments to `--corerun`?For instance
[code]
In both cases i

[2019-01-02 17:53] billwert commented on #189
@adamsitnik If the benchmarks are left unmodified do they return the same results as they did using xunit.performance? If so I think it is correct to leave them as they are. If they are returning different results they aren't comparable and I think it is reasonable to make changes that have them looking like we want.

If we are leaving them perhaps we should drop a comment in the ones that aren't

[2019-01-02 18:02] jorive commented on #209
@MarcoRossignoli when using the `--bdn-arguments` option, I will suggest using it with `=`. For example,  `--bdn-arguments="--join"`. This is a limitation on the `argparse` module, and there is a whole issue on it and the design decisions.

[2019-01-02 18:45] MarcoRossignoli commented on #209
@jorive thank's a lot!We resolved point 2 of my, I get again first one...strange error:
[code]
I compare master(`corefxupstream`) with my "work in progress" repo `corefx`

[2019-01-02 18:47] jorive commented on #209
Looking into it.

[2019-01-02 18:48] MarcoRossignoli commented on #209
Command line, maybe could be useful: `.\scripts\benchmarks_ci.py --frameworks netcoreapp3.0 --filter *.Perf_Dictionary.* --corerun D:\git\corefxupstream\artifacts\bin\testhost\netcoreapp-Windows_NT-Release-x64\shared\Microsoft.NETCore.App\9.9.9\CoreRun.exe D:\git\corefx\artifacts\bin\testhost\netcoreapp-Windows_NT-Release-x64\shared\Microsoft.NETCore.App\9.9.9\CoreRun.exe --bdn-arguments="--join"`

[2019-01-02 19:40] jorive commented on #209
Could you please try commenting this line: https://github.com/dotnet/performance/blob/master/scripts/dotnet.py#L143

[2019-01-02 19:41] jorive commented on #209
I think the error has to do with the location where we restore the nuget packages and where we attempt to copy the resources from.

[2019-01-02 19:43] jorive commented on #209
Originally, the harness restored the packages to a local folder, and BDN to the global .nuget folder. The error might be caused by the csproj attempting to still restore resources from the global packages folder.

[2019-01-02 19:45] jorive commented on #209
I think there are two options:
1) Have the resources be part of this repo (they are not that big, and it seems the most reasonable solution)
2) Update csproj to copy resources from local packages folder.

[2019-01-02 20:04] MarcoRossignoli commented on #209
It works!

[2019-01-02 21:15] adamsitnik commented on #209
I have sent a PR with the solution https://github.com/dotnet/performance/pull/211

[2019-01-02 21:21] adamsitnik commented on #189
yes

I agree. We should keep the old ones "as is" unless they cause some troubles or don't make sense, but don't add any inner loops for the new benchmarks.

I tried to leave the comments where I could, example:

https://github.com/dotnet/performance/blob/3941f11e000edd7a404599fc2e401129c25bc4ad/src/benchmarks/micro/coreclr/perflab/CastingPerf.cs#L95

[2019-01-02 21:35] adamsitnik commented on #209
@MarcoRossignoli your latest error is something new to me. Could you provide full log and the command that you run?

thank you! and big thanks for helping us and giving a try to the performance repo!

[2019-01-02 21:48] MarcoRossignoli commented on #209
Weird  I thought it was related to @jorive troubleshooting.
Full log(let me know if there are useful switch to improve logging), run.cmd is my custom batch:
[code]
However if I apply https://github.com/dotnet/performance/issues/209#issuecomment-450963176 it works, is this unrelated to you PR?

[2019-01-02 21:56] jorive commented on #209
I think this is related to the fix, and the error message (exception) is not very informative.

[2019-01-02 22:10] adamsitnik commented on #209
this error is really weird, I suspect that when `CoreRunGenerator` tries to create a copy of CoreRun folder hits the issue

But why? It copies every file only once, to a new folder every time

https://github.com/dotnet/BenchmarkDotNet/blob/2ce35ac6c972f34003802f0b32111b41b94f5320/src/BenchmarkDotNet/Toolchains/CoreRun/CoreRunGenerator.cs#L42-L52

@MarcoRossignoli anyway, what worries me are the pa

[2019-01-02 22:38] adamsitnik commented on #209
I am sorry, I was not aware of that. I am going to clone the corefx and try to repro the problem

[2019-01-03 00:02] adamsitnik commented on #209
Ok, I was able to reproduce this problem.

When BDN runs for more than 1 runtime/CoreRun it performs the build in parallel. But when the parallel build fails, it retries in a sequential way. This is why we were getting this error: it was copying the file once (in parallel) and then retrying in a sequential way.

[code]

I have applied a one-liner fix in the BDN https://github.com/dotnet/BenchmarkD

[2019-01-03 01:36] jorive commented on #209
@adamsitnik Do we understand the bug? It looks like removing `--no-restore --no-build` only hides the bug.

Here I have two questions:
1. Does BDN copy the arguments passed to dotnet-cli when it's invoked? Ideally, we would not like to restore and build the project again (seems unnecessary and the command executes is faster).
2. Can BDN ignore those arguments (dotnet-run)? BDN is restoring/buildin

[2019-01-03 10:23] MarcoRossignoli commented on #209
It's not a blocking issue to me now, I can use custom sdk as I outlined on top...however if you like that I use new script as a tester this is blocking.

[2019-01-06 17:38] MarcoRossignoli commented on #209
@jorive @adamsitnik I spent some time on this.
I think that the issue is that BDN doesn't handle `--no-restore` and `--no-build` flag as @jorive suspected.
[RestoreThenBuildThenPublish](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Toolchains/DotNetCli/DotNetCliCommand.cs#L69) call publish without passing `--no-build`(`--no-restore` is implicit https://docs.microsoft.co

[2019-01-06 21:42] adamsitnik commented on #209
@MarcoRossignoli big thanks for your time and effort!

btw BDN used to run the cli with `--no-restore --no-dependencies` first but I decided to disable this behavior some time ago (https://github.com/dotnet/BenchmarkDotNet/pull/913) full explanation here: https://github.com/dotnet/BenchmarkDotNet/pull/913#issue-223126912 (td;dr it could cause serious trouble while gain was very small)

[2019-01-06 21:52] MarcoRossignoli commented on #209
@adamsitnik thank's for explanation links now it's clear to me!

[2019-01-07 16:36] jorive commented on #209
@MarcoRossignoli Thanks for the investigation :)

[2019-01-07 19:40] MarcoRossignoli commented on #209
@adamsitnik @jorive last BDN fix https://github.com/dotnet/BenchmarkDotNet/commit/9e791f3cd7a77b70684acff875f6cdf56bbe756a (* if we fail to do the standard publish, let's try with --no-build) fix also this issue and we can avoid to fix script.
[code]
When this build of BDN will be available for `benchmarks_ci.py`?

[2019-01-07 21:04] adamsitnik commented on #209
As soon as #218 gets merged. I will try to adopt it to the code review today

[2019-01-07 21:11] MarcoRossignoli commented on #209
great thank's!
After merge/rebase/test I'll close issue.

[2019-01-11 17:32] adamsitnik commented on #209
@MarcoRossignoli #218 got merged, please give it a try and if everything works fine please close the issue

[2019-01-12 08:52] MarcoRossignoli commented on #209
I confirm that now it works like a charm :boom::boom::boom:!
Thank's to all of you @wojtpl2 @adamsitnik @jorive small team great result! :raised_hands:

[2019-01-12 08:52] #209 closed

[2019-01-24 17:50] adamsitnik opened #240 "The CI is red due to helix error"
I just realized that the [CI](https://dev.azure.com/dnceng/public/_build?definitionId=271&_a=summary) is red due to helix error.

Sample error from the [logs](https://dev.azure.com/dnceng/public/_build/results?buildId=79462):

[code]

@adiaaida could you please take a look?

/cc @billwert @brianrob @jorive

[2019-01-24 18:02] adiaaida commented on #240
I currently do not have a functional Windows box, but once I get my VM running, I will take a look.

[2019-01-28 06:33] adamsitnik commented on #240
Closed by #243

@adiaaida once again thanks for the explanation!

[2019-01-28 06:33] #240 closed

[2019-01-29 02:49] adamsitnik commented on #193
I am closing this issue since we did not find any significant regressions. There was some noise, but having 20-30 noisy benchmarks in a portfolio of 2000 benchmarks is quite a good result ;)

@danmosemsft let's talk about the other comparisons we need during our next 1:1

[2019-01-29 02:49] #193 closed

[2019-01-29 02:50] adamsitnik commented on #146
I am closing this issue since the process can be now automated with a tool #165

[2019-01-29 02:50] #146 closed

[2019-01-29 22:34] danmosemsft commented on #93
What to do here -- seems to me each of these findings could become an issue in CoreFX perhaps for community interest, then we coud close this?

[2019-01-30 02:05] #201 closed

[2019-01-30 02:31] danmosemsft commented on #189
Can we close this then?

[2019-01-30 02:39] #189 closed

[2019-02-07 10:11] adamsitnik opened #257 "Add CI correctness jobs for .NET, Core 2.0/2.1/2.2"
In #246 I have introduced a bug which did not allow to run the benchmarks easily for .NET Core 2.0/2.1/2.2

We need to have a correctness check for not only 3.0 but for the other frameworks as well.

[2019-02-07 10:36] adamsitnik opened #258 "The correctness CI job should run every benchmark exactly once (not more)"
As of today, the correctness CI job runs with the following arguments:

[code]

While it should be:

[code]

The benefit will be much faster correctness check

[2019-02-07 11:10] adamsitnik opened #259 "Add CoreFX to the CI matrix"

[2019-02-07 11:35] #258 closed

[2019-02-08 06:16] #257 closed

[2019-02-12 10:44] adamsitnik opened #269 "[Question] Why Helix SDK version did not get auto-updated by Maestro?"
in #265 it turned out that we had an old version of Helix that had some bugs and did not allow us to push linux jobs to Helix

https://github.com/dotnet/arcade/issues/1274#issuecomment-462664482

@adiaaida do you know why Maestro did not auto-update the Helix SDK version?

I have pushed a PR with the update #268 but I would like to understand why it happened. Is it by design? If so, why?

[2019-02-12 15:46] adiaaida commented on #269
We need to add the Helix dependency to Versions.Details.xml. I'll get a PR out for that shortly.

[2019-02-12 16:10] adamsitnik commented on #269
thanks!

[2019-02-12 19:33] #259 closed

[2019-02-12 19:34] adamsitnik opened #272 "Add build status page to README.md"

[2019-02-12 19:34] adamsitnik opened #273 "Add ARM64 PR jobs"

[2019-02-12 19:35] adamsitnik opened #274 "Make sure the .logs from Python script are uploaded as CI artifacts and the CI fails if exitCode != 0"

[2019-02-13 06:41] adamsitnik opened #279 "Add MacOS PR jobs"

[2019-02-13 07:36] #273 closed

[2019-02-13 08:24] adamsitnik commented on #274
@adiaaida I tried to fix it in #280 but I have failed.

It looks like we have not been uploading the logs for a while. Could you please make sure that we do?

Also I have a feeling that if the python script returns non zero code we don't fail.

[2019-02-13 08:27] adamsitnik commented on #161
Implemented a long time ago in #165

[2019-02-13 08:27] #161 closed

[2019-02-13 12:12] #272 closed

[2019-02-13 13:59] adiaaida commented on #274
Alex is working on getting MC to do the right thing again. MC is where our logs are being uploaded, for lack of a better word, for the python scripts. As far as I am aware, that’s about the best we can do.  I’ve asked before, but there isn’t a way for azdo to archive artifacts from a job on a helix machine. We would want to publish the artifacts elsewhere. Are there other logs?

Also, yes, right n

[2019-02-13 14:11] adamsitnik commented on #274
I am ok with the logs being uploaded to MC. I hope that we won't need them very often. If it ever changes, we can come back to this conversation.

Thanks for the update!

[2019-02-13 16:05] #269 closed

[2019-02-13 18:48] adiaaida opened #289 "Fix job title in jenkins jobs"
I don't know how much of a priority this is, as we are enabling the SAS token in the AzDO jobs, but, at the moment, Jenkins is uploading to benchview with titles such as "${benchviewCommitNamePrefix} %GIT_BRANCH% %GIT_COMMIT%" so if we want jenkins to work properly, we should probably fix that

@jorive

[2019-02-13 18:50] jorive commented on #289
Yes, I've noticed the string interpolation in the groovy file is not working.

[2019-02-19 17:50] adiaaida commented on #289
Instead, I've opened an issue to disable the Jenkins jobs since the AzDO jobs are now uploading to benchview (#304).

[2019-02-19 17:53] adamsitnik commented on #289
@adiaaida can we close this issue now?

[2019-02-19 17:56] adiaaida commented on #289
Works for me.

[2019-02-19 17:56] #289 closed

[2019-02-20 06:36] adamsitnik opened #306 "Fix failing Full Framework benchmarks"
[code]

[2019-02-20 06:40] adamsitnik opened #307 "Fix failing ARM64 benchmarks upload"
[code]

[2019-02-20 07:13] adamsitnik opened #309 "Test Build Status Page"
Prior to #305 our build status page was always showing green color only...

Now with the fix from #305 I have verified that when something actually fails it shows the red color ;)

![obraz](https://user-images.githubusercontent.com/6011991/53073089-5afb0200-34e7-11e9-9dfb-e2512d7df37e.png)

I have created this issue just to keep track of it.

/cc @adiaaida @billwert @jorive

[2019-02-20 09:47] #306 closed

[2019-02-20 12:41] #307 closed

[2019-02-20 12:42] adamsitnik commented on #274
Fixed by #305

[2019-02-20 12:42] #274 closed

[2019-02-20 15:48] adamsitnik opened #313 "WorkItemDirectory & CorrelationPayloadDirectory"
Today I have tried to move all common build properties that are store in common.props file from `src\benchmarks\micro` to `src` but I have failed.

As far as I understand, we send to `Helix` two zipped folders:

- WorkItemDirectory: '$(Build.SourcesDirectory)\src\benchmarks\micro'
- CorrelationPayloadDirectory: '$(Build.SourcesDirectory)\scripts'

https://github.com/dotnet/performance/blob/700816e

[2019-02-20 17:36] adiaaida commented on #313
We cannot send the entire repo because send-to-helix/helixpublish write their logs to the artifacts dir at the same time that they would be trying to send the entire repo (including the artifacts dir) to helix. There is a lock on the file, so there is an exception.

What if you moved the scripts dir into the src dir?

[2019-02-20 18:38] jorive commented on #313
Why don't we just pull the repo, build, run on the Helix machine instead? Building the harness is cheap.

[2019-02-20 18:46] adiaaida commented on #313
I'll be honest, I'd really like us to not get into a place where we are doing things outside of how Helix is expected to operate.

However, that would be a pretty good solution for when we do this for the product repos and I'd like us to be as consistent as possible in those situations.

Also however: I don't think you can send a helix workitem with out a workitem directory. So, there are somethin

[2019-02-20 18:54] jorive commented on #313
We could consider running the tests for this repo as build/run the tests. Thus, we would not need this extra step which does not buy anything.

[2019-02-20 19:01] adiaaida commented on #313
What do you mean?

[2019-02-20 19:24] jorive commented on #313
Sorry, what I meant to say is that splitting the build and run does not buy us anything here, but add extra complexity. BenchmarkDotNet needs the Cli to build the microbenchmarks anyways during the "run" step.

[2019-02-20 19:26] adiaaida commented on #313
Right now, our infra does not split the build and run. It's all done on the Helix machines.

[2019-02-21 08:05] adamsitnik opened #317 "Add System.IO.Pipelines benchmarks from AspNetCore repo"
https://github.com/aspnet/AspNetCore/pull/4535

[2019-02-25 19:46] jorive opened #326 "Integrate the unit testing project to the test matrix that runs on AzDO."
The unit test project located [here](https://github.com/dotnet/performance/tree/master/src/tests/benchmarks/micro) has not been integrated into the CI testing.

[2019-02-27 21:50] adamsitnik opened #333 "ARM64 CI Leg fails due to missing python3"
So far all the ARM64 machines had python3 installed, now they don't.

Related issues:

https://github.com/dotnet/core-eng/issues/5338
https://github.com/dotnet/core-eng/issues/5220

[2019-02-27 22:07] adamsitnik opened #334 "Enable LongPaths support for Windows queues"
So far we were always sending to Helix those two directories:

https://github.com/dotnet/performance/blob/8d086bd6ae34424af63d9491faff158f5ccb43be/eng/performance/benchmark_jobs.yml#L89

https://github.com/dotnet/performance/blob/8d086bd6ae34424af63d9491faff158f5ccb43be/eng/performance/benchmark_jobs.yml#L91

And they were restored to something like this on the actual machine:

[code]

We want to

[2019-02-27 22:36] jorive commented on #334
@adamsitnik This issue should be opened in https://github.com/dotnet/core-eng instead.

[2019-02-27 22:56] adiaaida commented on #334
Issue moved to [dotnet/core-eng #5365](https://github.com/dotnet/core-eng/issues/5365) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-27 22:56] #334 closed

[2019-02-27 22:56] adiaaida commented on #334
Issue moved to [dotnet/core-eng #5366](https://github.com/dotnet/core-eng/issues/5366) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-28 03:05] billwert commented on #333
Those issues seem fairly old - does anyone know why ARM64 went away? @ulisesh ?

[2019-02-28 06:08] jorive commented on #333
@billwert What do you mean? They are one day and 16 days old?

[2019-02-28 13:33] adamsitnik opened #337 "Unify reported BenchView config"
So far we were uploading the following BenchView config:

[code]

Now it was simplified and unified by @jorive to:

[code]

So the CoreFX runs will not contain `AnyCPU` but the actual architecture, information about compilation mode (Tiered etc) and  we are going to have full OS name (not `Windows_NT`)

[2019-02-28 13:36] adamsitnik opened #338 "Enable ML.NET benchmarks runs as part of the CI"
- [x] add support for ML.NET project file to `benchmarks_ci.py` (@jorive,  done in #325)
- [x] define a new CI leg for ML.NET benchmarks (@adamsitnik, done in #352)
- [x] add BenchView SAS token (@DrewScoggins, done)
- [x] add ML.NET runs to BenchView web page (@adiaaida)

/cc @najeeb-kazmi @danmosemsft

[2019-02-28 13:37] #337 closed

[2019-02-28 13:38] adamsitnik commented on #337
Done  by @jorive in #325

[2019-02-28 13:39] adamsitnik opened #339 "Enable the Tiered and non-Tiered perf runs"

[2019-02-28 15:30] jorive commented on #338
I think I have already removed repo specific "BenchView-related settings", and made them uniform for anything .NET in the repo. Could you please expand what does third point means and what is left to do?

[2019-02-28 16:21] adamsitnik commented on #338
I meant configuring the Blob storage, SAS token for Azure DevOps and the BenchView web page

[2019-02-28 17:52] jorive commented on #338
@DrewScoggins @adiaaida Could you please help creating the blob storage and provide the SAS token for ML.NET runs?

[2019-02-28 18:08] billwert commented on #313
Fixed by #330

[2019-02-28 18:08] #313 closed

[2019-02-28 18:13] billwert opened #343 "add a blurb about what the CI table represents"
The CI table on the front page is the result of "functional" testing of the benchmarks and should be flagged as such.

[2019-02-28 18:22] billwert commented on #279
We don't need CI corectness for Mac, and we don't have isolated Mac hardware.

[2019-02-28 18:22] #279 closed

[2019-02-28 18:24] #339 closed

[2019-02-28 18:39] billwert opened #344 "Port newly added benchmarks from CoreFX/CoreCLR to perf repo"
The current snapshot of benchmarks has lagged behind the repos. Need to catch up.

[2019-02-28 18:41] jorive commented on #344
@billwert Could you please provide a list?

[2019-02-28 18:41] billwert opened #345 "re-define test matrix and schedule"
We should have a defined schedule of what runs when and how often. For example:
PGO vs no PGO - seems like a weekly run
Commits to the perf repo currently trigger a full perf run that is shown inline with the "real" product results. Having this testing is good but we should isolate it from the "normal" runs.

Fill out this matrix and get it published and working.

[2019-02-28 18:51] billwert opened #346 "use core-sdk commit hash to identify Benchview job"
Currently the benchview job is logged under the commit hash at the head of the dotnet/performance repo instead of the actual core-sdk hash being tested.

[2019-02-28 18:52] billwert opened #347 "use core-sdk hash to identify datapoints on benchview trends"
Currently benchview data points are logged using the core-setup hash instead of the core-sdk hash. We'd prefer core-sdk.

[2019-02-28 18:57] billwert opened #348 "Change "official build" trigger from daily to triggered on core-sdk builds"
This enables us to be more precise about when we run and get finer grained data. If it gets to being more than a few runs a day we may need to reconsider this.

[2019-02-28 19:43] DrewScoggins commented on #338
Yes, I will get the container and SAS tokens for the uploader in place.

[2019-02-28 20:58] DrewScoggins commented on #338
The container is made, it is called mldotnet. If the runs are being triggered through AzDO then we already have the SAS tokens setup properly for upload to the container. I will make sure that the DB uploader has it's config updated to look in this new location.

[2019-02-28 23:05] ulisesh commented on #333
The queue Ubuntu.1604.Arm64.Open was moved from running on bare-metal servers to run on containers. The docker images we are using don't include Python3 making Adam's jobs fail. We are working to add Python3

[2019-03-01 22:08] adiaaida commented on #333
Malena is working on adding python3 to all of the queues (windows and linux), so when that work is in, we should be good.

Because this is a machine configuration issues, I would suggest we disable the Arm64 runs until this work is in so that PRs aren't blocked (in particular the dependency update jobs)

[2019-03-01 22:19] billwert commented on #333
@adiaaida good thinking. I was just working on this - check out #351.

[2019-03-04 19:11] adamsitnik commented on #338
The CI legs which are going to run the ML.NET benchmarks and upload the results to the container configured by @DrewScoggins go just merged in #352

@adiaaida could you please add the ML.NET benchmarks to BenchView page? I expect that the first results are going to appear there in a few hours

[2019-03-04 19:15] adiaaida commented on #338
I don't think we can add it until results have been uploaded to Benchview. @DrewScoggins would know better.

[2019-03-05 05:45] adamsitnik opened #357 "Port BitArray benchmarks from CoreFX"
https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Performance/Perf.BitArray.cs

[2019-03-05 06:13] adamsitnik opened #358 "Port System.IO.Pipelines benchmarks from CoreFX"
https://github.com/dotnet/corefx/blob/master/src/System.IO.Pipelines/tests/Performance/Perf.Pipe.cs

[2019-03-05 06:22] adamsitnik opened #359 "Redesign System.Linq.Parallel benchmarks from CoreFX"
https://github.com/dotnet/corefx/tree/master/src/System.Linq.Parallel/tests/Performance/QueryOperators

[2019-03-05 06:27] adamsitnik opened #360 "Port missing System.Memory benchmarks from CoreFX"
Not all of the System.Memory benchmarks have been ported, but they have to be
https://github.com/dotnet/corefx/tree/master/src/System.Memory/tests/Performance

[2019-03-05 06:34] ahsonkhan opened #361 "Navigating the repo is difficult since benchmarks/micro collides with tests/benchmarks/micro"
Under [/src/](https://github.com/dotnet/performance/tree/master/src), we have [benchmarks/micro](https://github.com/dotnet/performance/tree/master/src/benchmarks/micro) and [tests/benchmarks/micro](https://github.com/dotnet/performance/tree/master/src/tests/benchmarks/micro). These two collide a bit, making navigation difficult.

We should consider moving/renaming the files under `/src/tests/`

cc

[2019-03-05 06:34] adamsitnik commented on #361
good point, I am going to do that.

[2019-03-05 06:46] adamsitnik opened #362 "Port two benchmarks added recently to Perf.StringBuilder from CoreFX"
https://github.com/dotnet/corefx/blob/786cc3edbd25f7323b88aaf672e36518ae30d116/src/System.Runtime/tests/Performance/Perf.StringBuilder.cs#L152-L187

[2019-03-05 07:57] JanEggers opened #365 "results?"
what is the correct way to view the results of these benchmarks?

are there any plans to build a dashboard like:

https://aka.ms/aspnet/benchmarks

[2019-03-05 08:02] adamsitnik commented on #365
hello @JanEggers

as of today you can run them on your hardware, the benchmarks have doc page describing how to do that

yes, @DrewScoggins is working on that.

[2019-03-05 08:03] #365 closed

[2019-03-05 08:12] adamsitnik commented on #344
I did go through all CoreFX benchmarks today and created the issues to keep track of it.

#357 #358 #359 #360 #362

[2019-03-05 08:36] #361 closed

[2019-03-05 16:32] jorive commented on #344
What about CoreClr?

[2019-03-05 16:47] #358 closed

[2019-03-05 16:48] adamsitnik commented on #344
My manager did not tell me to port the CoreCLR benchmarks.

Just kidding. They are on my todo list once I am done with CoreFX I will scan CoreCLR

[2019-03-05 18:57] DrewScoggins commented on #338
What is the title of the runs? I searched for jobs with ML in the name, but didn't find any recent ones.

[2019-03-05 21:17] adiaaida commented on #338
ML runs were merged in with the corefx/coreclr tests. They all have the same group name. We'll probably want to split ML results out.

[2019-03-05 22:20] DrewScoggins commented on #338
I went ahead and updated the home page. I dropped the individual .Net Performance groups and added the new combined one.

[2019-03-05 23:20] ahsonkhan opened #371 "Add new System.Collections.Immutable benchmark from recent CoreFX PR"
`ImmutableDictionary.TryGetValue` was improved recently: https://github.com/dotnet/corefx/pull/35759.

We should consider adding benchmarks for it. An example benchmark is available in the PR itself.

cc @adamsitnik, @stephentoub

[2019-03-06 16:23] #362 closed

[2019-03-06 16:47] #346 closed

[2019-03-06 16:47] #347 closed

[2019-03-07 07:41] #371 closed

[2019-03-07 08:36] adamsitnik opened #378 "Port missing System.Buffers benchmarks from CoreFX"
https://github.com/dotnet/corefx/tree/master/src/System.Memory/tests/Performance

/cc @ahsonkhan

[2019-03-07 13:42] adamsitnik opened #379 "Implement decimal benchmarks"
Today I was porting some of the Utf8Formatter benchmarks and I have realized that we have only one Decimal benchmark

https://github.com/dotnet/corefx/blob/79ef29bcc1b9e5f2d7ef595e136771c89eb1bce8/src/System.Runtime/tests/Performance/Perf.Decimal.cs

which I have ported to https://github.com/dotnet/performance/blob/5c02f92b039321274c841eb4d3fd9b64524d0975/src/benchmarks/micro/corefx/System.Runtime

[2019-03-07 18:43] tannergooding commented on #379
CC. @pentp who has done much of the existing work on `decimal`.

[2019-03-08 01:00] ahsonkhan opened #380 "Add new System.IO.Pipelines benchmark from recent CoreFX PR"
`PipeReader.AsStream()` was improved recently: https://github.com/dotnet/corefx/pull/35874

We should consider adding benchmarks for it. An example benchmark is available in the PR itself.

We also may want to expand on the sets of perf tests for pipelines, in general:
https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/corefx/System.IO.Pipelines/Perf.Pipe.cs

cc @pakrym, @adams

[2019-03-08 02:03] davidfowl commented on #380
Also these https://github.com/aspnet/AspNetCore/blob/master/src/Servers/Kestrel/perf/Kestrel.Performance/PipeThroughputBenchmark.cs

[2019-03-08 06:03] #357 closed

[2019-03-08 07:09] #360 closed

[2019-03-08 14:56] adamsitnik commented on #344
The only missing CoreCLR benchmark was #113 which I have ported in #382

[2019-03-12 13:27] adamsitnik commented on #333
@ulisesh @adiaaida any update on this?

In https://github.com/dotnet/performance/pull/382 I am introducing a new benchmark that should not be built or run on Arm and it would be great if the CI could tell me if I do not break anything.

[2019-03-12 14:55] adamsitnik commented on #338
The results are now available at https://benchview/trendline?build_selector=latest&count=200&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[1713]&archids=[9]&mpids=[1292]&cfgids=[3394,3391,3392,3393]&testids=[160661,160665,160670,160671,160669,160672,160682,160667,160683,160668,160679,160662,160680,160666,160681,160664,160676,160675,160674,160673,160678,1606

[2019-03-12 14:55] #338 closed

[2019-03-12 15:52] adamsitnik opened #386 "Update the link on BenchView page"
In #354 `framework` has been added to the uploaded BenchView options and we need to update the link at `benchview/` again.

@DrewScoggins could you please do that? I think that the link should now be following:

https://benchview/trendline?build_selector=latest&count=20&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[1713]&archids=[9]&mpids=[1292]&cfgids=[339

[2019-03-12 15:55] jorive commented on #386
I believe that only the `BranchId` will need to be updated in the `HomeLinks` table.

[2019-03-12 16:41] adiaaida commented on #333
I believe the change has been checked in and all of the machines (all queues) should have python3 installed on them.

[2019-03-12 16:44] adamsitnik commented on #333
@adiaaida thanks! I will try to re-enable the runs for ARM then

[2019-03-12 17:00] adamsitnik opened #388 "Implement System.Linq.Expressions benchmarks"
The original issue: https://github.com/dotnet/corefx/issues/10561

[2019-03-13 16:48] jorive commented on #386
Link was updated. Closing this.

[2019-03-13 16:48] #386 closed

[2019-03-15 12:21] adamsitnik commented on #333
@ulisesh @adiaaida  The python3 is still missing on some machines, I tried to re-enable the ARM runs in #387 and failed:

https://mc.dot.net/#/user/dotnet-performance/pr~2Fdotnet~2Fperformance~2Frefs~2Fpull~2F387~2Fmerge/test~2Fperformance_arm64_corefx_netcoreapp3.0_micro~2F/20190315.2/workItem/WorkItem/wilogs

[code]

https://mc.dot.net/#/user/dotnet-performance/pr~2Fdotnet~2Fperformance~2Frefs~2

[2019-03-15 22:30] adiaaida opened #389 "Change HelixSource to match the actual source"
For PRs/Github runs, HelixSource should start with pr/ (which is what we currently do).

For builds coming out of the internal repo, HelixSouce should start with official/ (this is what we need to change).

[2019-03-18 20:47] billwert opened #390 "Output directory is confusing"
Due to dotnet/cli#10990, if you run the microbenchmarks project without passing -c Release the results end up under a Debug directory, which is confusing.

Worse, if you run a lot of benchmarks the only indication this happened has scrolled far off the terminal window by the time the run is done.

Until that is fixed (if it is ever) I think we should remove the <Optimize> tag from the csproj, so w

[2019-03-20 18:27] adamsitnik opened #395 "Create CoreCLR Workflow docs"
We have nice docs for CoreFX: https://github.com/dotnet/performance/blob/master/docs/benchmarking-workflow-corefx.md

We should also have docs for CoreCLR.

IMHO we should also recommend using the python script instead of the dotnet cli for the CoreCLR Team. From my experience, it looks like CoreCLR folks have typically an old version of dotnet cli installed. The python script can download the lat

[2019-03-20 20:05] adamsitnik commented on #390
@billwert do I understand correctly that https://github.com/dotnet/performance/pull/391 has solved this issue and we can close it?

[2019-03-20 20:07] billwert commented on #390
yup! (I guess I didn't put 'fixes #390' in the right place in the PR, I thought it could be in a comment.)

[2019-03-20 20:07] #390 closed

[2019-03-20 20:08] adamsitnik opened #396 "Create docs for benchmarking best practices and guidelines"
As discussed with @stephentoub in #381 we simply need to write the knowledge down and publish it in a form of docs which should help us to ensure high quality and consistency.

[2019-03-20 20:10] #378 closed

[2019-03-20 21:56] #113 closed

[2019-03-20 21:56] adamsitnik commented on #344
All benchmarks have been ported and merged!

[2019-03-20 21:56] #344 closed

[2019-03-22 14:06] adamsitnik opened #399 "Get rid of annoying warnings"
from an offline chat with @stephentoub , we should get rid of annoying warnings

[code]

[code]

[2019-03-25 16:48] #399 closed

[2019-03-26 13:07] feO2x opened #402 "On the Performance of FileStream Async Reads on Windows"
Dear Microsoft performance team,

@atruskie and I performed some benchmarks on the read performance of FileStream on Windows (which can be found [here](https://github.com/atruskie/Pipelines.File.Unofficial) and [here](https://github.com/feO2x/InsightsOnFiles)). The results are interesting as we both encountered that sync file access is way faster in total  execution time than async access across a

[2019-03-26 14:47] MarcoRossignoli commented on #402
Are you using server or workstation for GC mode(server one could improve throughput due to less gc frequency)?I see a lot of gen0 collection(that slow down perf) I think due to async/await state machine.
BTW I think that you see great difference between async/sync in case of "real program" that heavly use IO in a "random" way(less use of [fast] IO cache etc...) where blocking thread(for real) is a

[2019-03-26 14:50] feO2x commented on #402
@MarcoRossignoli The benchmarks were run in workstation mode.

[2019-03-26 14:52] stephentoub commented on #402
File reads via overlapped I/O has more overhead than not; I'd suggest writing a C benchmark against the Win32 APIs to validate this for yourself.  The benefit then of using overlapped is that for long-latency reads, e.g. accessing a file from a network share, you can avoid blocking a thread and get the associated scalability benefits.  But FileStream has issues here, e.g. https://github.com/dotnet

[2019-03-26 17:16] billwert opened #403 "UInt tests duplicate 0 as an input"
See: https://github.com/dotnet/performance/blob/e720dbf5cf7f288e55ba84196fad6af8011f132a/src/benchmarks/micro/corefx/System.Runtime/Perf.UInt16.cs#L17-L21

UInt32 and UInt64 use `12345` as their middle value and are fine.

[2019-03-26 17:29] billwert opened #404 "add CI test to ensure no duplicate test IDs"
#403 shows that it's possible to check in tests with the same logical ID, which means same set of parameters. We should try hard to prevent this, since it represents wasted time in the lab and also causes problems with tooling (like ResultsComparer.)

[2019-03-27 09:38] JarnoNijboer opened #406 "Align description of Repo with readme.md"
The description of the repo on GitHub is:
"This repo contains benchmarks used for testing the performance of .NET Frameworks."

Almost the same sentence can also found in the readme.md
"This repo contains benchmarks used for testing the performance of all .NET Runtimes"

The latter should also be used for the description

[2019-03-27 13:42] adamsitnik commented on #406
@JarnoNijboer thanks!

#done

![obraz](https://user-images.githubusercontent.com/6011991/55080510-92d50680-509e-11e9-9378-b1b4cd209085.png)

[2019-03-27 13:42] #406 closed

[2019-03-27 17:21] adamsitnik commented on #93
@danmosemsft I created the issues in CoreFX:

https://github.com/dotnet/corefx/issues/36405
https://github.com/dotnet/corefx/issues/36406
https://github.com/dotnet/corefx/issues/36407
https://github.com/dotnet/corefx/issues/36412
https://github.com/dotnet/corefx/issues/36413
https://github.com/dotnet/corefx/issues/36414
https://github.com/dotnet/corefx/issues/36415
https://github.com/dotnet/corefx

[2019-03-27 17:21] #93 closed

[2019-03-27 17:26] #403 closed

[2019-03-27 17:26] #404 closed

[2019-03-27 17:43] adamsitnik commented on #188
I created a new issue in CoreFX: https://github.com/dotnet/corefx/issues/36417

[2019-03-27 17:43] #188 closed

[2019-03-27 19:56] AndyAyersMS opened #408 "Provide some kind of summary result in ResultsComparer"
I have two large test run result sets (787 results each) and would like some overall summary of the improvements and regressions. [Jit-diffs](https://github.com/dotnet/jitutils) has this for code size diffs and we've found it useful for getting an overall impression of a change.

[code]

It would be nice for `ResultsComparer` to give some idea of the distribution of differences, eg a histogram or

[2019-04-02 19:10] Kosat opened #412 "Make ResultsComparer into a stand-alone global tool"
Hello @adamsitnik,

I'm working on adding BenchmarkDotNet performance tests to the [dotnet/command-line-api](https://github.com/dotnet/command-line-api/issues/469) project.
For starters, there will be no integration with CI. So, we would just ask developers to run those tests locally and manually check for regressions in their code. The same way as described in [dotnet/performance/#Preventing Regr

[2019-04-02 19:50] billwert commented on #412
Hi @Kosat! thanks for making me aware of dotnet/command-line-api#469. I think we should host those benchmarks in this repo as we host the [ml.net](https://github.com/dotnet/performance/tree/master/src/benchmarks/real-world/Microsoft.ML.Benchmarks) benchmarks. I'll jump over to the other issue and see what they think.

[2019-04-03 12:05] MarcoRossignoli opened #415 "New apis perf test"
I'm following https://github.com/dotnet/performance/blob/master/docs/benchmarking-workflow-corefx.md#benchmarking-new-api

But I get compile isssue, my `MicroBenchmarks.csproj`
[code]
I cannot compile
![image](https://user-images.githubusercontent.com/7894084/55477157-b48f3a00-5618-11e9-9509-176f0fdf2406.png)
![image](https://user-images.githubusercontent.com/7894084/55477224-cffa4500-5618-11e9-89

[2019-04-03 14:11] MarcoRossignoli commented on #415
Current workaround compile against my local package:
[code]
and run with corerun
[code]
Pros: it works
Cons: no intellisense

[2019-04-03 18:13] #408 closed

[2019-04-04 16:16] billwert opened #417 "Consider adding retry behavior in transient network failures"
In a recent failed test run I see this:
[code]

That looks like what is probably a transient failure. It is probably a good idea to go through our automation for places like this and add a small retry so we don't lose test runs for simple network trouble.

[2019-04-05 17:38] billwert commented on #412
Hi @Kosat! If you'd like to use the ResultsComparer code in the command like repo, you can just copy it. It doesn't make sense right now to ship it separately as its own package.

Thanks for your contributions!

[2019-04-05 17:38] #412 closed

[2019-04-08 20:57] tannergooding opened #423 "Consider updating the System.Math/MathF performance tests"
There was some discussion in https://github.com/dotnet/performance/pull/166 around updating the `System.Math` and `System.MathF` performance tests to be more inline with "normal" benchmark.net tests.

Currently the tests are looping over a range of well-defined inputs and validating the result. However, this is undesirable from a number of views.

Ideally, these would simply test an array of uniqu

[2019-04-08 21:00] tannergooding commented on #423
The `Random` class currently supports generating floating-point results, but these lie in the 0.0 to 1.0 domain. Many of the functions may consider these inputs invalid or may accept a larger range of inputs.

We could likely expose some functions which take advantage of the underlying bit representation of floating-point values to allow generation of inputs over the given domain range while still

[2019-04-16 18:00] adamsitnik commented on #412
Hello @Kosat !

Thanks for using Results Comparer. @billwert is right, the simplest way for now it to copy paste it.

We plan to add similar feature to BenchmarkDotNet global tool. You can follow this issue for updates; https://github.com/dotnet/BenchmarkDotNet/issues/973

[2019-04-16 18:39] adamsitnik commented on #417
I like this idea. We could also do `dotnet restore --no-cache` to avoid some other issues.

[2019-04-16 18:45] jorive commented on #417
in addition to no cache, we should add `--no-restore` to `dotnet build`, and `--no-restore --no-build` to `dotnet run`

[2019-04-18 22:37] billwert opened #436 "Fix up jsonwriter benchmark"
[code]

[2019-04-19 00:34] #436 closed

[2019-05-01 18:07] Wraith2 opened #449 "Database Driver benchmarks"
While working on performance improvements to SqlClient I've been using BDN to measure test case improvements. It's been mentioned several times now that it might be worth adding a suite of performance tests into this repository so we have tracked performance measures for ADO drivers.

How would we go about setting those benchmarks up? The primary requirement for most of them is going to be the abi

[2019-05-01 21:39] billwert commented on #449
Hello!

This is a good idea. Unfortunately everything we're doing in this repo at the moment is heavily aimed at single machine scenarios. (Microbenchmarks, UI apps, etc.)

@sebastienros - is this the sort of scenario that's perhaps easier to run in your lab?

[2019-05-01 21:46] sebastienros commented on #449
Yes, this is something that we already do, and that @roji uses for the PostgresQL driver too.

When external contributors want to verify their improvements I gladly run the benchmarks on our machines to validate the results. I can also provide profiles (linux and windows). We can also test on diverse machine sets.

@Wraith2 if you have local builds you want to benchmark ping me on twitter/gitter/s

[2019-05-01 21:48] billwert commented on #449
I'm going to close this issue - let me know if I can help further.

[2019-05-02 17:30] roji commented on #449
@Wraith2 the way I see this, the first step would be simply to start creating benchmarks into this repo, without necessarily making them run automatically as part of a continuous perf platform. I imagine these benchmarks as executing by default on LocalDB (simply because it is always available, on Windows at least) with an environment variable allowing users to point the benchmark at a real SQL Se

[2019-05-02 18:16] Wraith2 commented on #449
As long as we're fine with local only comparisons that's ok. Getting a standard-ish set of ADO benchmarks setup somewhere is what we've discussed in several PR's now and were pointed here as the correct place. Getting an overview of whether a particular change has effect outside a given PR is good for oversight.

So how generic could we be? and where do we put them in the folder hierarchy? because

[2019-05-02 18:27] billwert commented on #449
If they run on a single machine and are good about cleanup, etc, this is a great place for them.

Ordinarily I would recommend putting them in the existing [Microbenchmarks ](https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/MicroBenchmarks.csproj) project we have. It sounds like we might want something with some portability, though, so a new project might make more sense.

Yo

[2019-05-02 18:55] Wraith2 commented on #449
There will need to be a simple database setup for each particular driver but if we're going to try and share most of the tests we'll probably end up with a simple structure which maps to the things defined in System.Data. Users will need to be responsible for their local setup something like we have for the SqlClient manual tests https://github.com/dotnet/corefx/tree/master/src/System.Data.SqlClie

[2019-05-02 18:58] billwert commented on #449
Can you elaborate a bit more? In general the tests should not depend on anything being on the machine to begin with, and clean up any state they changed when they're done. We can't pre-install software on the test machines as they come out of a pool which is shared with other testing.

[2019-05-02 19:14] Wraith2 commented on #449
The ADO api supports a factory pattern. You provide a factory type which is then instantiated and used through the base classes. So There's `System.Data.SqlClient.SqlClientFactory` which you instantiate (probably through activator) and cast into a DbProviderFactory then everything works with Db* typed objects.

We can make those static dependencies restored through nuget as is done with https://gi

[2019-05-03 11:48] roji commented on #449
@Wraith2 it's definitely possible to think about a provider-independent benchmark suite, which each provider would then be able to implement. This is somewhat similar @bgrainger's work on an ADO.NET "specification test suite" (see https://github.com/mysql-net/AdoNetApiTest), which we hope to evolve and which should help detect variation in ADO provider behavior. The same thing could be done for a

[2019-05-03 14:25] bgrainger commented on #449
I've worked on increasing MySql ADO.NET performance for https://github.com/TechEmpower/FrameworkBenchmarks. In my experience, the benchmark results are highly dependent on the test environment hardware. Without [TFB's hardware](https://www.techempower.com/blog/2018/03/13/framework-benchmarks-hardware-update/) (three 28-core Xeons with 10GbE), the top results that I can get locally start tapering o

[2019-05-03 20:11] roji commented on #449
@bgrainger I've had a very similar experience. However, I've learned to distinguish between two kinds of perf efforts.

First, there's the kind of optimizations that show up on microbenchmarks. Reducing the memory allocations done in some code path (e.g. reading a column from DbDataReader), reducing the time spent in such a method, etc. etc. It is generally easy to write BDN microbenchmarks for th

[2019-05-03 20:25] bgrainger commented on #449
I agree: some of my biggest perf wins have simply come from reducing allocations in a particular code path, which is very suitable for microbenchmarking.

[2019-05-03 22:24] Wraith2 commented on #449
Some, not as much as there used to be. Sadly I don't have any comparative numbers for the 2.2 version and 3.0 versions but it might be interesting to try and create some.

[2019-05-06 15:46] adamsitnik commented on #449
I think that we can split the potential System.Data benchmarks into two categories similar to unit and integration tests:

- benchmarks that don't require a real database. We can mock the input/data and write some nice microbenchmarks that shows the improvements in the "units".
- benchmarks that require real db and non-trivial setup but show the perf gains in real-world scenarios.

FWIW I would re

[2019-05-06 18:41] roji commented on #449
@adamsitnik I'm not sure it's practical to benchmark SqlClient without a real database - I know very little about its internal architecture but I'd be surprised if parts of it are mockable.

Note that on Windows the benchmarks can be run against LocalDB, which is "zero-setup". On Linux/Mac a real SQL Server needs to be set up, though.

[2019-05-06 19:08] Wraith2 commented on #449
There is some work that can be done without a real database but not very much. Some of the existing functional tests use a fake TDS server that can respond to simple requests. It's complicated and not a scalable solution to the entire feature set we want to test. If it's running in the same process it's also going to end up being part of the benchmark which isn't desirable.

[2019-05-07 18:40] adamsitnik opened #462 "[Discussion] How can we detect regressions in CoreFX libs that are not part of the shared sdk?"
This is a follow up to https://github.com/dotnet/performance/pull/438 and to my today's conversation with @stephentoub

As of today, the [MicroBenchmarks.csproj](https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/MicroBenchmarks.csproj) references following CoreFX packages:

https://github.com/dotnet/performance/blob/3b75c755a25dc11ae405351c7b9b476760e98755/src/benchmarks/micro

[2019-05-07 18:47] billwert commented on #462
Thanks @adamsitnik! @adiaaida has been working on how we're going to wire up runs for CoreCLR / CoreFX. I'd like to propose we make sure the solution to the overall problem takes this into account. (We need something similar for ML.Net and other out of band packages.)

[2019-05-07 18:49] billwert commented on #462
@adamsitnik @ViktorHofer one useful piece of information: what repo do those packages come out of? Are they in their own, or are they built out of CoreFX but not included in the shared runtime for whatever reason?

[2019-05-07 23:21] #389 closed

[2019-05-14 16:24] adiaaida opened #473 "Fix Serializer Benchmarks"
Since we have been filtering on coreclr and corefx benchmarks, we have excluded the Serializer benchmarks, which are now broken.

[2019-05-20 23:01] adamsitnik commented on #462
An update from @ViktorHofer https://github.com/dotnet/corefx/issues/34957#issuecomment-494178211 :

So the fix would be to reference the new package and use darc for auto-updates.

@billwert @adiaaida what do you think? it would be nice to fix this problem as we are not testing the latest bits for some parts of the CoreFX

[2019-05-20 23:16] billwert commented on #462
This is super useful! This will go a good bit of the way to solving this problem.

Will this produce builds independent of CoreFX? Put differently, what circumstances would a darc update for this trigger where a corefx update wouldn't or vice versa? Is this OOB a thing that itself needs to be independently tested? (I would assume no.)

We are also exploring other ways to do corefx/coreclr/other ru

[2019-05-20 23:22] ViktorHofer commented on #462
No, the version is exactly the same and we publish it together with other corefx packages.

No, just threat the package reference with the additional assemblies as part of the BCL.

Why is that? Darc is the preferred way to flow dependencies between repositories.

[2019-05-20 23:26] billwert commented on #462
We are exploring options to start runs that happen in the context of the individual repos instead.

[2019-05-20 23:27] ViktorHofer commented on #462
That would be great. In CoreFx we ideally don't want to clone the performance repo at all but just run BenchmarkDotNet with the assemblies produced here (and probably published to Darc).

[2019-05-20 23:29] billwert commented on #462
Can you talk more about that?

[2019-05-20 23:37] ViktorHofer commented on #462
Sure. I talked with @adamsitnik offline about this. In CoreFx we as a dev ideally don't want to clone the performance repository at all just to run its tests on our build. This would be possible by packaging up the produced test assemblies from this repository and publish it to the dotnet-core feed and update darc to let consumers know about it. In CoreFx we would take a dependency on that package

[2019-05-21 02:02] #473 closed

[2019-05-23 17:49] t-takhan opened #497 "Real-world JitBench Run Failed due to 404 (Not Found)"
I was trying to run real-word JitBench benchmark following [this guide](https://github.com/dotnet/performance/blob/master/src/benchmarks/real-world/JitBench/README.md) on ubuntu 18.04.2. However, running the command `dotnet run -c Release -- --netcoreapp-version 2.0` gives me following error:

[code]

It seems that dotnet sdk for [2.0](https://dotnetcli.azureedge.net/dotnet/Sdk/2.0.0/dotnet-sdk-2.

[2019-05-29 17:19] alpencolt opened #517 "Enable benchmarks on Linux/ARM"
I'm trying to run benchmarks on Linux/ARM target but faced with some issues.
First is can be fixed with #516 PR.
Another one it's look to be related to SDK (or may be something incorrect with my environment):
[code]

Related to https://github.com/dotnet/coreclr/issues/23520

[2019-05-29 19:09] adamsitnik commented on #517
Hello @alpencolt

The error message is very confusing. It says that `3.0.0-preview6-27728-04` is installed and then fails with an error saying that it's not available...

[code]

Could you please try to run the benchmarks using the dotnet executable downloaded by the python script?

[code]

Do you get the same error?

If so, can you try following two commands to see if simple hello world app works

[2019-05-30 15:10] Tornhoof opened #523 "JSON microbenchmarks for JIL use the old MS Dateformat"
The default DateTime Format in JIL looks like this:
"\/Date(1559314917689+0000)\/"

As you want to compare apples with apples, you need to pass Options.ISO8601 to each JIL invocation, then it will output the ISO8061 format the other serializers use.

[2019-05-30 16:40] alpencolt commented on #517
If I try to use script (or direct call of dotnet) conflicts with installed on system sdk is occurred (even argument `--cli` isn't specified):
[code]

If try to remove SDK from host library `libhostfxr.so` cannot be found:
[code]

But if we put this library to appropriate folder, original issue returns:
[code]

[2019-05-30 17:44] billwert commented on #517
I wonder if this is being impacted by changes in roll forward behavior in 3.0. @vitek-karas, @richlander, any thoughts?

Regarding #509, it's generally true that we expect folks testing with the in-development platform to have a latest CLI, which is part of why the script downloads it. Sorry for the hassle in this instance.

[2019-05-30 20:07] adamsitnik commented on #523
Fixed by #524

[2019-05-30 20:07] #523 closed

[2019-05-31 04:43] vitek-karas commented on #517
The main issue with the framework not being found is probably due to mixing the globally installed .NET Core and the locally downloaded one.

I assume that if you try to simply run `dotnet --info` on your machine in a new terminal, it will work and list some frameworks, neither of which is the requested `3.0.0-preview6-27729-07`. This will probably use globally installed runtime from `/usr/shared/

[2019-05-31 05:49] billwert commented on #517
Interesting! We do not currently set `DOTNET_ROOT`. I just did some experimentation and see that on a WSL Ubuntu instance if I set this variable it fixes the problem. We never have a global .NET install on the machine when we test in the lab, so I guess it has happened to work out.

I'm puzzled though, that this hasn't broken on Windows. I've never personally run this script on a Linux system, but

[2019-05-31 05:57] billwert commented on #517
(And, of course, I have tons of globally installed runtimes on my Windows system.)

[2019-05-31 06:50] #517 closed

[2019-05-31 07:27] adamsitnik commented on #517
I have tested the script on MacOs, Ubuntu 16.04 x64 and ARM64 and it worked fine a few months ago. `DOTNET_ROOT` seems to be a new thing, so far `DOTNET_MULTILEVEL_LOOKUP=0` was always enough.

Anyway, it's great that it works again now. 👍

[2019-05-31 18:23] t-takhan opened #531 "Microbenchmark Run Failed on Mono Runtime"
I was trying to run one of microbenchmarks on Mono runtime following [this documentation](https://github.com/dotnet/performance/blob/master/docs/benchmarkdotnet.md#multiple-runtimes) using the command, `dotnet run -c Release -f netcoreapp2.2 --filter *Perf_Volatile* -r Mono`. Unfortunately, the execution failed with following error message, (I have omitted other part of the run log)

[code]

I was

[2019-05-31 22:31] vitek-karas commented on #517
Setting `DOTNET_ROOT` is important only for applications which have their own executable and are started via that executable. This is the default behavior in 3.0, but was only rarely used in 2.2.

For the rest, the `dotnet-install` script modifies `PATH` to point to the `dotnet.exe` it installed. So anything running within that environment should pick up the right `dotnet.exe` (or just `dotnet`).

[2019-05-31 23:10] billwert commented on #517
Thanks, @vitek-karas! With this information I was able to put together another detail. Our instructions for installing preview builds include setting `DOTNET_ROOT` (see [here](https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-3.0.100-preview5-linux-x64-binaries) for example.) I'd done that in my WSL install, and I wager @alpencolt had done so as well. Once I unset `DOTNET_ROOT` before run

[2019-06-01 04:03] brianrob commented on #531
@t-takhan, it sounds like the issue that you're running into is that the build being produced targets netcoreapp2.2 but running against Mono requires building against the 4.x profile.  You might try changing your command line to ```dotnet run -c Release -f net471--filter *Perf_Volatile* -r Mono```.

[2019-06-03 14:29] alpencolt commented on #517
I've removed global SDK and conflicts ended. But for using `dotnet` direct without scripts required to write path to `/etc/dotnet/install_location`.
Issues with missed `libgdiplus` is solved by:
[code]

But now I've faced  with time restrictions. Almost all benchmarks failed with:
[code]

Are there any knobs to configure time limits for building?

[2019-06-03 20:11] t-takhan commented on #531
@brianrob, thank you for the information. Unfortunately, I could not find the dotnet framework 4.7 or 4.8 download link or installation guide for Linux platforms. Can you give me some pointers on how to install dotnet framework 4.7 or 4.8 for Linux platforms?

[2019-06-04 11:14] adamsitnik commented on #517
BenchmarkDotNet supports the build timeout via:

[code]

You can pass it to the python script via `--bdn-arguments`:

[code]

[2019-06-04 11:27] adamsitnik commented on #531
Hi @t-takhan

When you install [mono-devel](https://www.mono-project.com/download/stable/#download-lin) it comes with mono msbuild. You need to use it to compile the project with benchmarks and then run the new executable using mono:

[code]

If you want to compare Mono vs .NET Core 2.2:

[code]

[2019-06-04 17:58] t-takhan commented on #531
Hello @adamsitnik

Thank you for the detailed explanation. When I run the command `msbuild /p:Configuration=Release src/benchmarks/micro/MicroBenchmarks.sln`, I get following error message,

[code]

I suspected that is because dot net core 3.0 is not available for linux platform. Therefore, I made following changes to `src/common.props` file:

[code]
After that I can restore and build the microben

[2019-06-04 18:08] t-takhan commented on #531
Thank you so so much @adamsitnik

That worked like charm. Now, I will try to generate aot llvm intermediate files using mono. Hopefully, that will go smoothly as well.

[2019-06-05 00:03] brianrob commented on #531
Thanks @adamsitnik!  @t-takhan, feel free to reach out with any more issues you run into.

[2019-06-05 00:03] #531 closed

[2019-06-05 16:56] krwq opened #545 "Support for Outerloop benchmarks"
Certain benchmarks do not need to run as part of every perf run and only need to run as part of making explicit changes in corefx. Such benchmarks should not have limit on number of test cases.

## Details

Currently benchmarks have [artifical limit of number of test cases per benchmark](https://github.com/dotnet/performance/blob/master/src/harness/BenchmarkDotNet.Extensions/TooManyTestCasesValida

[2019-06-06 21:00] danmosemsft opened #549 "Missing microbenchmarks for throwing exceptions"
https://github.com/dotnet/coreclr/issues/22224 has this table:

|            Method |  Job | Runtime |      Mean |     Error |    StdDev |
|------------------ |----- |-------- |----------:|----------:|----------:|
| ExceptionTryCatch |  Clr |     Clr |  6.630 us | 0.0244 us | 0.0217 us |
| ExceptionWithWith |  Clr |     Clr |  6.652 us | 0.1268 us | 0.1302 us |
| ExceptionTryCatch | Core |    Core

[2019-06-08 10:52] adamsitnik commented on #396
Make sure the docs explain why we shoult NOT be changing namespaces and type/method/argument names.

[2019-06-10 20:51] billwert commented on #545
I'm torn about this. In general I'm not in favor of having code in the repo that isn't being run on some cadence - it just invites debt. (Though in this case the code would at least be building.) This needs some careful thinking around pros/cons before we decide to do it.

Looking at your list above, for example. What you're really doing is using the microbenchmark suite as a profiler. Given how e

[2019-06-10 20:52] billwert commented on #462
Here's another vote for the build and run separation we talked about for BDN, @adamsitnik ..

[2019-06-11 15:21] adamsitnik commented on #545
Another good example are the `Enum` benchmarks proposed in https://github.com/dotnet/performance/pull/237 They test almost every possible usage of enums (which is good) but on the other hand, they take most probably 15 or so minutes to run. There is a very little chance that we are going to regress the `Enum` but if we don't measure that periodically we can't tell if there is a regression or not.

[2019-06-11 16:59] krwq commented on #545
I like @adamsitnik's idea, I'd name the priorities though, i.e.:
- inner loop (pri 0)
- daily (pri 1)
- weekly (pri 2)
- monthly (pri 3)

[2019-06-11 19:58] danmosemsft opened #557 "Run "regression detector" on microbenchmarks on 2.2 and 3.0"
We need to do a run using @adamsitnik 's script to find any regressions between 2.2 and 3.0 so we can investigate and fix before the platform closes down to changes for 3.0.

Is anyone planning to do this and if so, on what timeframe? I would prefer get a first read now. @billwert is this your team?

@billwert @RussKeldorph @adamsitnik

[2019-06-11 19:59] danmosemsft commented on #557
cc @karelz

[2019-06-11 21:54] billwert commented on #557
Probably. @adiaaida how can we run 2.2 in the new system so we have the results in the DB and can use the new tool?

[2019-06-12 03:51] adiaaida commented on #557
I can get 2.2 running in the lab pretty easily. I don't know anything about the regression detector, but if there is data in benchview/the new database, is that enough?

[2019-06-12 06:39] adamsitnik commented on #557
I think that Dan meant the [ResultsComparer](https://github.com/dotnet/performance/tree/master/src/tools/ResultsComparer) but if I remember correctly the "new tool" (btw do you have some name for it?) is based on it so it should work in the same way.

If you want to use the ResultsComparer:

[code]

[2019-06-12 20:17] watfordgnf opened #560 "Utf8JsonWriter microbenchmark does not compile on corefx master"
Using ff6a7d840391c0fb41ec72a41a41aa9e32841eec against [corefx master](https://github.com/dotnet/corefx/commit/28efaabc4349d11a95f8f31eb932c84f207916ab):
[code]

It looks like perhaps a local corefx build needs to define `MAKE_ABW_PUBLIC`?

https://github.com/dotnet/corefx/blob/3ea7b55e275fb6367f67e7fb0432be4bb3902f09/src/Common/src/System/Buffers/ArrayBufferWriter.cs#L12-L18

[2019-06-13 07:36] adamsitnik commented on #560
Could you please share the output of `dotnet --version`? Most probably you don't have the latest .NET Core 3.0 preview installed.

We have a nice python3 script that can download it for you and run the benchmarks:

[code]

[2019-06-13 13:04] watfordgnf commented on #560
I was pending a restart after both VS 16.2.0-pre.2.0 and 3.0.100-preview6-012264. I receive the following (without running the python script):
[code]
Running your script however, shows me that the latest preview is 7. Does this mean that even if I'm using local builds of corefx I should be using the `benchmarks_ci.py` script? (I presume that this is how I get the latest tools/SDK for *compilation*

[2019-06-13 13:17] adamsitnik commented on #560
In this repository, we are using the latest builds of .NET Core 3.0 which you can download from https://github.com/dotnet/core-setup/.

Yes, the easiest way to get it working is to use the python script.

[2019-06-13 13:22] watfordgnf commented on #560
I appreciate it, perhaps the bit about the `benchmarks_ci.py` script could be moved up higher in the workflow wiki? Or perhaps a note about core-setup in the Prerequisites.

[2019-06-17 18:51] danmosemsft commented on #557
Yeah I guess I meant the ResultsComparer -- or whatever the "using proper statistical methods" way is to automatically detect significant regressions between two large test runs without the slow and painful manual comparison we previously had to do. 😄

[2019-06-17 18:55] Methuselah96 opened #569 "The SDK 'Microsoft.DotNet.Arcade.Sdk' specified could not be found."
[code]

Similar to https://github.com/dotnet/performance/issues/157, but I'm still getting this error. What do I need to do to fix the build? I'm trying to run `ResultsComparer` from a fresh clone of this repo.

[2019-06-17 21:50] billwert commented on #557
Yes. We got this.

[2019-06-18 05:01] adamsitnik commented on #569
Hello @Methuselah96

I am able to repro the problem.

[code]

I am going to provide a fix

[2019-06-18 08:10] #569 closed

[2019-06-18 08:11] adamsitnik commented on #569
@Methuselah96 the problem has been fixed, please pull the latest changes

[2019-06-28 17:53] danmosemsft commented on #557
How is it looking? No pressure, I'm just scheduling work now we are closing down and wondering when we'll have a first idea of the scale of the regressions if any. 😃

[2019-06-28 17:55] billwert commented on #557
It's my afternoon. :) (We had a misconfiguration in the lab and all the data didn't make it properly, so we had to re-run last night.) expect news by Monday. Sorry for the delay.

[2019-06-28 17:55] danmosemsft commented on #557
No problem, thanks for the update. Just glad you guys are doing this.

[2019-07-03 19:52] naricc opened #612 "" Method not found" Error Building Master against sdk dotnet sd 3.0.100-preview6"
Platform: MacOS Mojave 10.14.5
Version: A clone of master (dotnet/performance) from last week.

I tried building micro against the latest 3.0 preview, and got this error (below). It looks like it is looking for something that doesnt' exist in the SDK? Any ideas how to reo

~/workspace/perf-mono/performance/src/benchmarks/micro [master ↓·10|…1]> sudo msbuild /p:Configuration=Release MicroBenchmarks

[2019-07-04 06:51] adamsitnik commented on #612
Hi @naricc

In this repository, we are using the latest builds of .NET Core 3.0 which you can download from https://github.com/dotnet/core-setup/.

Please make sure that you have pulled changes from https://github.com/dotnet/performance/pull/594

[2019-07-04 15:16] TempeBrennan opened #614 "Load IFELanguage COM performance very slow on windows 10"
Dear Microsoft,
Sorry to ask you a question about IFE COM.

We use this COM to get language processing services for some features like get Japanese spelling.

Now we found load this COM performance is very slow.

- windows7 --> 1s+
- windows10 1803 1809 server 2016-->13s+

our code to get IEF COM:
[code]

Is is a windows 10 bug or limitation? Is there anyody know a workaround? Thanks a lot!

PS: c

[2019-07-04 16:13] billwert commented on #614
Hi there. This isn’t the correct venue for this sort of question. If you send me an email (my user name at microsoft.com) I’d be happy to help.

Thanks!

[2019-07-04 16:13] #614 closed

[2019-07-08 19:22] naricc commented on #612
Using the latest .Net Core 3.0 got it to build, thanks.

[2019-07-08 19:22] #612 closed

[2019-07-08 21:04] naricc opened #621 "System.DllNotFoundException: Unable to load DLL 'libgdiplus': The specified module could not be found."
Platform: MacOS Mojave

I checked out the latest performance (as of today), and I built the microbenchmakrs like so (in the /src/benchmarks/micro diretory):

dotnet build -c Release

Trying to use dotnet run, most commands will produce an error about missing libgdiplus (full stack trace below). But libgdiplus is installed as part of mono at: /Library/Frameworks/Mono.framework/Versions/Current/lib/

[2019-07-08 21:07] billwert commented on #621
Because CoreCLR and mono are distinct, mono specific installation paths aren't considered.

I just fix this normally by installing libgdiplus itself.

[2019-07-08 21:07] billwert commented on #621
@adamsitnik has a PR which will print a better error, also.

[2019-07-08 21:07] #621 closed

[2019-07-09 12:20] adamsitnik commented on #560
Good point, I have added it in #622

[2019-07-09 12:40] watfordgnf commented on #560
Will be closed by #622.

[2019-07-09 12:40] #560 closed

[2019-07-10 05:34] #396 closed

[2019-07-16 17:23] adamsitnik opened #697 "Investigate bi-stable BitArrayBoolArrayCtor benchmark"
`new BitArray(bool[])` is 2x slower compared to 2.2

https://github.com/dotnet/performance/blob/ce894eec66c6f83b227db37f9833b2116ba54c48/src/benchmarks/micro/corefx/System.Collections/Perf.BitArray.cs#L38-L42

Repro

[code]

[code]
|                Method |     Toolchain | Size |       Mean | Ratio | Allocated Memory/Op |
|---------------------- |-------------- |----- |-----------:|------:|-------

[2019-07-16 22:28] sdmaclea opened #668 "Fix ubench guidelines to observe best practices"
The samples in the https://github.com/dotnet/performance/blob/master/docs/microbenchmark-design-guidelines.md sometimes fail to return a result.

Document should be updated to observe best practice.

For instance
[code]

[2019-07-17 09:15] #668 closed

[2019-07-17 09:15] adamsitnik commented on #668
thanks! fixed in #670

[2019-07-17 21:03] billwert opened #672 "Startup tool backlog"
Various items that need cleanup but are non-blocking:
- [ ] add 'abort' option to clean up providers
- [ ] refactor tracing into a base class for shared utility (ie, cswitch logic.)
- [ ] investigate single tracing session
- [ ] figure out the cross plat story (lttng, setwindowpos)
- [ ] choose TFM based on what's installed (ala microbenchmarks.)
- [ ] WPF parser
- [ ] Winforms parser
- [ ] update

[2019-07-18 11:54] adamsitnik commented on #379
@stephentoub have implemented some benchmarks for decimal math operations in #478, I think that we can close this issue now.

[2019-07-18 11:54] #379 closed

[2019-07-18 11:54] #333 closed

[2019-07-18 11:54] adamsitnik commented on #333
It's not an issue anymore

[2019-07-18 11:54] adamsitnik commented on #91
Fixed in #625

[2019-07-18 11:54] #91 closed

[2019-07-18 15:25] #317 closed

[2019-07-19 16:53] #549 closed

[2019-07-19 16:58] adamsitnik opened #684 "Implement more EH benchmarks"
From @AndyAyersMS in https://github.com/dotnet/performance/pull/679#issuecomment-513277069

    at top-level in an EH-free method, versus
    inside the try of a try / catch where no exception is raised
    inside the try of a try / finally where the finally is empty
    inside the finally of a try / finally where the try is empty
    inside the try of a try / finally where the loop control variab

[2019-07-23 05:45] t-takhan opened #690 "GC Server Not Working for Mono Runtime"
I modified `src/benchmarks/micro/coreclr/Roslyn/CscBench.cs` file as following to run it with concurrent server GC.
[code]
Now, if I run this benchmark with dotnet (`dotnet run -c Release -f netcoreapp2.2 --filter CscBench.CompileTest`), the used GC is concurrent server GC. However, if I run the same benchmark with mono runtime (` msbuild /p:Configuration=Release src/benchmarks/micro/MicroBenchmar

[2019-07-23 07:00] adamsitnik commented on #690
I am not sure if Mono implements Server GC. AFAIK it has [SGen](https://www.mono-project.com/docs/advanced/garbage-collector/sgen/) which is a little different.

@EgorBo @marek-safar does Mono implement Server GC?

[2019-07-23 07:07] marek-safar commented on #690
The term ServerGC is quite misleading, it's just a set of GC settings which most of them Mono implements and could be set as GC startup parameters if needed.

[2019-07-23 14:15] adamsitnik opened #717 "System.Collections.Concurrent.AddRemoveFromSameThreads benchmarks needs tweaking"
Some of the `System.Collections.Concurrent.AddRemoveFromSameThreads` benchmarks are up to 3-4 times slower compared to 2.2. These are Concurrent benchmarks, so it's a **potential** regression that requires a verification.

[Source code](https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/corefx/System.Collections/Concurrent/AddRemoveFromSameThreads.cs)
[BenchView](https://benchv

[2019-07-23 14:49] adamsitnik opened #705 "Brotli benchmark bug"
The `System.IO.Compression.Brotli.Compress_WithState(level: Optimal, file: "sum")` has regressed, other test cases of this benchmark have improved or stayed the same.

# Repro

[code]

# Results for multiple OSes and Hardware Configs

* Statistical Test threshold: 5%, the noise filter: 0.3 ns
* Base is Median Base in ns
* Diff is Median Diff in ns

## System.IO.Compression.Brotli.Compress_WithStat

[2019-07-23 15:55] t-takhan commented on #690
Thank you @adamsitnik and @marek-safar

@marek-safar Can you give me some pointers on which parameters should I set to have concurrent workstation or concurrent server mode GC on mono.

[2019-07-23 19:10] billwert commented on #557
I think between our efforts and @adamsitnik stepping in to help finish it out this is done.

[2019-07-23 19:10] #557 closed

[2019-07-24 23:13] danmosemsft commented on #557
Thank you everybody.

[2019-07-25 07:44] adamsitnik opened #696 "Add Mono docs"
We should have some docs that describe how to run the Microbenchmarks with Mono on Windows and other OSes.

[2019-07-25 07:53] adamsitnik commented on #697
@billwert I've transferred this issue from CoreFX to performance repo because it's most probably a benchmarking issue or some hardware phenomenon. Identifying the source of the issue might not be worth the struggle per se, but it can give us some insight for similar issues in the future (like our unstable Linux runs).

It's a great low-leve profiling exercise, I am going to mark it as up-for-grabs

[2019-07-26 06:51] adamsitnik commented on #705
@ericstj You are right, the benchmark has a bug. Excellent catch!

I've moved the issue to the performance repo, I am going to fix the benchmark bug, rerun the Brotli benchmarks and if I find any regression report a new issue in CoreFX

[2019-07-26 07:47] #705 closed

[2019-07-26 15:22] ericstj commented on #705
Thanks @adamsitnik.

[2019-07-26 16:52] Paxxi commented on #697
I've managed to reproduce it at will on Windows. The first run I do after building Microbenchmarks.csproj shows the regression and any subsequent builds perform as they should. Cleaning the build and running again shows the exact same behavior that the first run is slow.

<details><summary>Assembly</summary>
first run

[code]
subsequent runs
[code]
</details>
For some reason the first run has wors

[2019-07-27 01:20] danmosemsft commented on #697
Sounds like tiered jitting again?

[2019-07-27 06:57] Paxxi commented on #697
That's a good point. I will spend some more time on it today and digging deeper into it. Have a lot to learn both about BDT and the JIT 😀

[2019-07-28 20:27] danmosemsft commented on #697
cc @kouvel

[2019-07-28 20:57] billwert commented on #697
given that it sounds like it is separate process invocations ("The first run I do after building Microbenchmarks.csproj shows the regression and any subsequent builds perform as they should.") that's not going to be an impact of tiered jitting.

[2019-07-29 06:44] Paxxi commented on #697
My machine rebooted and now it's not "stable" anymore, but still reproducible.

I don't believe it has anything to do with tiered jitting because of the following
- None of the generated projects specify tiered jit
- The published rules mention 30 invocations to trigger optimised jit and there weren't 30 calls

What I see now is that randomly one of the benchmarked methods is optimised when loaded

[2019-07-29 15:51] Paxxi commented on #697
This is fun, results are stable during a session of a couple of hours but so far have behaved differently every day I've looked at it.

`MinWarmupCount(20)` is no longer enough to trigger a rejit.

Best thing might be to manually inline the method. Using `MethodImpl(AggressiveInline)` didn't give as good results

[2019-07-29 19:45] billwert commented on #697
I wonder if this has something to do with image layout. Changing between builds might mean that the assemblies are loading in different relative places, so we emit different size jumps (or something of that nature.) We've seen things like that in the past. I will spend some time trying to see if I can catch a good and bad.

Regarding warmup count, each iteration does several invocations of the act

[2019-07-29 19:57] billwert commented on #697
Here's details from the trace:
Method rejits:

Event Name | Time MSec | Process Name | Rest
-- | -- | -- | --
Microsoft-Windows-DotNETRuntime/Method/LoadVerbose | 701.327 | dotnet (12888) | ThreadID="12,552" ProcessorNumber="6" MethodID="140,727,119,579,512" ModuleID="140,727,119,298,544" MethodStartAddress="0x7ffd96062430" MethodSize="49" MethodToken="100,668,325" MethodFlags="Jitted" MethodNames

[2019-07-29 19:58] Paxxi commented on #697
What I've seen the generated assembly is deterministic in that the bad and good versions always look the same. It wouldn't be the first time in this issue that I noticed patterns that aren't really stable though 😀

Thanks for the explanation 😀

[2019-07-29 20:56] Paxxi commented on #697
Here's two runs almost back to back, no other runs between them, the first showed bad performance for 2.2 and the second bad performance for 3.0.
https://1drv.ms/u/s!AkvQauypUh5JjJwL5ErYklCZsThPGQ
https://1drv.ms/u/s!AkvQauypUh5JjJwM3ovRWDb9zBO0mA

Comparing the InliningSuccessful events shows that one TFM had the DivRem method inlined but not the other. It looks like this happens in both runs.

[2019-07-29 21:00] billwert commented on #697
@Paxxi neat! thanks! Since you didn't share the ETLs, can you share the InliningFailed events so we can see what the reason was?

[2019-07-29 21:05] Paxxi commented on #697
The etls Should be in the date folder, fairly deep in the folder structure . I zipped the output from BDN

[2019-07-30 01:00] billwert opened #713 "version number detection is broken by 5.0 shift"
We just started getting 5.0 SDKs and it's caused a break. In dotnet.py we check the version number against the TFM we request:

https://github.com/dotnet/performance/blob/7c8087a2372d552d7a060b9d2cc3ef3ae3b776b2/scripts/dotnet.py#L320-L323

We use this in `get_dotnet_version` (and other places) to filter the results to make sure we get the right directory:
https://github.com/dotnet/performance/blo

[2019-07-30 02:18] #713 closed

[2019-07-30 14:35] adamsitnik commented on #717
@kouvel @stephentoub I've moved the issue to the performance repository

@kouvel could you please tweak these benchmarks to measure more realistic scenario?

[2019-08-02 02:46] noahfalk opened #725 "dotnet.py fails with an AttributeError"
I just cloned the repo and tried to run dotnet.py. I'm not sure I am doing it correctly, but the [Prerequisites page](https://github.com/dotnet/performance/blob/master/docs/prerequisites.md) doesn't offer specific guidance:

     Optionally, you could use dotnet.py to to download the DotNet Cli locally.

Repro:
1) Create new Ubuntu VM 18.04.2 LTS, start terminal
2) git clone https://github.com/dot

[2019-08-02 02:50] noahfalk commented on #725
Poking at it more it appears including the argument "install" is intended. That also didn't work with a different error, but I'll leave this issue as-is to represent what happens when users guess and don't attempt to be resourceful when things aren't working : )

[2019-08-02 07:12] noahfalk opened #726 "Trying to run benchmark on netcoreapp2.2 gives error saying 3.0 isn't supported"
Repro steps: (Following the instructions at https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/README.md)

1) Create VM with Ubuntu 18.04 x64
2) Install .Net Core 2.2 SDK using directions at https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current
3) Run dotnet run -c Release -f netcoreapp2.2

Expected: Benchmarks run

Actual: Error message is printed

[2019-08-02 07:23] adamsitnik commented on #726
Hi @noahfalk

This is expected, it's the default MSBuild behavior. When a project targets few TFMs you need a dotnet cli that supports all of them.

The good news is that we have a python3 script that can download the right cli and run the benchmarks for you:

[code]

[2019-08-02 07:40] noahfalk opened #727 "Error libgdiplus is missing"
Repro:
1) Ubuntu 18.04 x64
2) Install .Net Core 2.2 SDK
3) git clone https://github.com/dotnet/performance
4) cd performance/src/benchmarks/micro
5) sudo apt-get install libgdiplus
6) Run dotnet run -c Release -f netcoreapp2.2 --filter *Burgers*
Expected: Burgers benchmark runs
Actual: Error message is printed:

[code]

This error occurred both before and after running sudo apt-get install libgdip

[2019-08-02 18:36] billwert commented on #727
Historically installing libgdiplus has fixed this for me. I wonder if the package has changed in some way.

@adamsitnik you added this error message. Do you have further context?

[2019-08-02 20:19] noahfalk commented on #726
Interesting, the design choice seems surprising to me but fair enough, it is what it is : ) Thanks!

[2019-08-02 20:19] #726 closed

[2019-08-02 20:21] billwert commented on #726
Because we use these in automation, we've made some choices that make that easier for the long term. This choice makes it really easy to run different runtimes as baselines without having some rewriting or having Microbenchmarks.22.csproj, etc. We try (as with the python scripts) to wrap it up so it's easy to use outside of automation also.

[2019-08-02 20:59] noahfalk commented on #726
Oh I was actually referring to the SDK design choice that you can't have an msbuild project reference a netcoreapp target higher than what the SDK supports. I'm not surprised you guys would want to multi-target your projects : )

[2019-08-07 08:56] adamsitnik commented on #727
Anytime I was using a fresh Ubuntu VM I was always hitting the problem of missing `libgdiplus` and `sudo apt-get install libgdiplus` was always enough to solve the problem. I've never hit the missing `libdl`.

@noahfalk is there anything special about your Ubuntu 18.04 machine? Is it latest Ubuntu 18.04 or some very old version? How did you solve the problem?

Also your log contains a suprising ty

[2019-08-07 10:36] noahfalk commented on #727
it was the latest ubuntu 18.04 downloaded ~1 week ago

I did something like 'echo Burgers | dotnet run -c Release -f netcoreapp2.2'. The test with the failure wasn't one I wanted to run and doing it this way appears to avoid the issue.

I'm sure its my typo. I was reading the error from the VM UI displayed by Hyper-V and retyping it into my browser that was running on the windows host machine.

[2019-08-09 21:38] adiaaida opened #757 "Enable netcoreapp5.0 for performance testing"
The latest dotnet versions coming out of the master branch are netcoreapp5.0. Most of the work to enable it (via csprojs and the like) is done, but we need to enable testing in the lab once Benchmark DotNet accepts netcoreapp5.0. Also, we need to get it working for the ML and Roslyn benchmarks.

[2019-08-22 13:18] filipnavara opened #788 "InProcess run crashes on certain benchmarks"
Running the microbenchmarks in-process with `dotnet run -f netcoreapp5.0 -c Release --anyCategories coreclr --iterationCount 1 --warmupCount 0 --invocationCount 1 --unrollFactor 1 --strategy ColdStart --stopOnFirstError true -i` causes unexpected failures in comparison to out-of-process runs.

Specifically, the benchmarks using `[IterationCleanup]` logic seem to be affected.

Example of crash:
[co

[2019-08-22 13:23] filipnavara commented on #788
For context, I am doing automated runs under different runtimes and configurations. The tooling for Mono/netcore is currently quite incomplete so certain runs (Mono LLVM JIT and Mono LLVM AOT) can only be done in-process for the moment.

[2019-08-23 12:38] adamsitnik commented on #788
I've sent a fix to BDN https://github.com/dotnet/BenchmarkDotNet/pull/1231

Is this blocking you?

[2019-08-23 13:32] filipnavara commented on #788
It is one of the blockers, not a critical at the moment as I can skip over the affected tests. Thanks!

[2019-08-24 01:37] ahsonkhan opened #792 "Add System.Text.Json.JsonDocument and JsonElement performance tests"
Similar to the perf tests for Utf8JsonReader/Writer/Serializer, we should add performance tests for JsonDocument and JsonElement to track regression and improvements, especially between releases. The main API to measure would be `JsonDocument.Parse` on the various inputs (similar to the `Utf8JsonReader` tests).

It would also be good to see a comparison between S.T.Json and Newtonsoft.Json as a sp

[2019-08-26 21:41] adiaaida opened #814 "Fix how we discover the repository URL and the commit timestamp in python scripts"
Currently, our python scripts only work on github urls, but we will be taking in input from internal repositories. So we need a better mechanism for discovering and parsing both dev.azure.com repository urls as well as github urls, and the commit timestamps for commits that come through both of those mechanisms.

[2019-08-27 05:49] adamsitnik commented on #792
done!

[2019-08-31 00:00] adamsitnik opened #841 "Performance regression: FileStream.ReadByte 5-10% slower"
[code]

<details>

## System.IO.Tests.Perf_FileStream.ReadByte(BufferSize: 512, TotalSize: 200000)

| Conclusion |       Base |       Diff | Base/Diff | Modality | Operating System     | Arch  | Processor Name                              | Base Runtime    | Diff Runtime                     |
| ---------- | ----------:| ----------:| ---------:| -------- | -------------------- | ----- | -----------

[2019-09-03 17:10] adamsitnik opened #851 "Add AMD uProf CoreFX profiling docs"
Similar to https://github.com/dotnet/performance/pull/849 it would be great to add a section for AMD uProf

[2019-09-07 07:57] filipnavara opened #865 "Compilation error with latest Roslyn"
The following code no longer compiles:

https://github.com/dotnet/performance/blob/97d49cfc30502b835122d360ca4b93f29215d4cc/src/benchmarks/micro/corefx/System.Buffers/ArrayPoolTests.cs#L39-L47

Compiler reports the following error:

[code]

This is caused by breaking change in the compiler (https://github.com/dotnet/roslyn/issues/36492) that was previously leading to miscompiled code. Originally r

[2019-09-09 18:54] billwert commented on #865
Thanks for the report! Will take care of this ASAP.

[2019-09-09 21:36] #865 closed

[2019-09-13 23:53] billwert opened #878 "CI broken"
Not sure what the root cause is yet, but wanted to get an issue logged so folks know I'm working on it.

Superficial cause is that the SDK is including a commit hash in the .version file contained within that is not actually in core-sdk, so our call into github fails:
[code]

Other weirdness is the currently served SDK comes down from here:
[code]

Note `cesar1` - not sure what's up with that.

cc

[2019-09-16 21:05] billwert commented on #878
This particular issue got fixed, but another issue is hitting now:
[code]

Working on this one.

[2019-09-18 07:56] adamsitnik opened #885 "Implement more realistic string benchmarks"
The benchmarks that we have as of today for methods like `IndexOf`, `StartsWith` etc use not very realistic test cases and moreover typically test a single culture.

/cc @jkotas

[2019-09-18 14:25] danmosemsft commented on #885
Do we rename the benchmark (eg suffix 2 on the name) when making a change that will affect the numbers - so we don't see any step in the graph later?

[2019-09-18 16:09] adamsitnik commented on #885
It depends on how big the changes are going to be. It might be just a matter of adding new tests cases, replacing the existing ones or introducing new ones with new names.

[2019-09-18 16:19] jkotas commented on #885
For completeness, "do nothing" is also an option to consider. It would mean that we would see one time step in the graph, but the benchmarks would be simpler in the long run.

[2019-09-19 18:57] #878 closed

[2019-09-20 23:49] sandreenko opened #894 "benchmarks\real-world\Microsoft.ML.Benchmarks fails with private CoreRun."
Repro steps:
1. goto performance\src\benchmarks\real-world\Microsoft.ML.Benchmarks
2. run  `dotnet.exe run --framework netcoreapp5.0 -c Release -- --filter *TrainSentiment* --coreRun "E:\git\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\CoreRun.exe"` where CoreRun is build from the current master,
the command should fail with:
[code]
3. run without ` --coreRun` works fine;
4. run some o

[2019-09-23 05:15] adamsitnik commented on #894
@sandreenko thanks for a great bug report!

@najeeb-kazmi @eerhardt should we just update the version of ML.NET? We are currently using `0.10.0`, I can see that `1.4.0-preview` has a dependency to `Microsoft.ML.CpuMath` which targets not only .NET Standard (with the problematic native dependency) but also `netcoreapp3.0` which uses new managed APIs to do the vector math?

Also, are we going to shi

[2019-09-23 15:30] #885 closed

[2019-09-23 15:57] eerhardt commented on #894
The issue as far as I can tell is that no one is copying the native assembly `CpuMathNative` to the output folder. `corerun` is going to need that assembly in the app's directory, as I understand that is the only place it looks for it. Note that `dotnet.exe` doesn't need this, because it can be probed using the `.deps.json` file.

We can update the version of ML.NET if we want. Just note that it w

[2019-09-23 16:55] sandreenko commented on #894
Thanks, I found `CpuMathNative.dll` in `C:\Users\*\.nuget\packages\microsoft.ml.cpumath\0.10.0\runtimes\win-x64\native\`, copied that to CoreRun folder and it worked.

[2019-09-23 18:08] danmosemsft commented on #894
As I see it, we have ML.NET in this repo in order that we don't regress them, not to help them measure their own performance - they have more interesting scenarios and configurations for that. So presumably the netcoreapp3.0 version is the only one we need - it is the most interesting - and if it happens to be easiest because it drops the dependency on cpumathnative.dll, more's the better.

[2019-09-23 18:15] eerhardt commented on #894
What I am saying above is that if we upgrade the ML.NET version in this repo, then we can no longer compare the new results with any results we've gotten in the past. If we are not concerned with that, then I am fine with upgrading the version.

It doesn't fix the underlying issue though, which is that the native dependencies are not being copied/loaded correctly. Just because this 1 native depend

[2019-09-24 18:42] billwert opened #896 "Create a plan for tracking moving product builds of non-platform libraries/tools"
Currently we run ML.NET and Roslyn benchmarks in this repo. They use pinned versions of those products and test against live .NET Core bits. This is a great defense mechanism for ensuring future .NET Core products don't have regressions. It does not help us track the performance of ML.NET and Roslyn as they change, however. We'd like to do that as well.

The challenge is that in a given perf run w

[2019-09-28 00:03] sandreenko commented on #894
If the updated ML.Net lib shows better performance and we see it in benchview then it is good, why would we want to compare results after that with any results from the past? If the change shows a regression then it should be investigated, no?

From the jit perspective, I would like to have one place with ML benchmarks that I can run with private CoreCLR and that performance changes are "actual" (

[2019-09-30 04:39] sandreenko opened #905 "don't create temp folder when running with Private CoreCLR."
I am running the benchmarks like:
`dotnet run --framework netcoreapp5.0 -c Release -- --filter * --coreRun F:\git\coreclr\bin\tests\Windows_NT.x64.Release\Tests\Core_Root\CoreRun.exe`
and it creates a copy of Core_Root near the original one, like `E:\git\coreclr\bin\tests\Windows_NT.x64.Release\Tests\24a3faeb-3410-46c2-ac4e-27debab53a12`,
my primary scenario is to run the benchmarks in PerfView an

[2019-09-30 16:33] adamsitnik commented on #894
I did not know that ML.NET has more native dependencies, I was hoping that simple version update would fix it. BDN tracks this issue in https://github.com/dotnet/BenchmarkDotNet/issues/946 I hope that we can find a clean solution to this problem.

[2019-09-30 16:41] adamsitnik commented on #894
The purpose of this repo is to make sure the .NET Core is not regressing the performance. With a hardcoded version number of ML.NET we make sure that if given benchmark takes longer to run it means that .NET Core has regressed ML.NET. This is why we have avoided more frequent updates. We plan to change it soon: https://github.com/dotnet/performance/issues/896

[2019-09-30 17:18] adamsitnik commented on #905
If BDN detects that you have some older version of dependencies required to run the benchmarks in CoreRun folder (for example an old version of Newtonsoft.JSON referenced by some CoreCLR unit tests), it's going to overwrite them with newer versions from the published app. It's going to do that in a shadow copy of the folder with CoreRun, so your configuration remains untouched.

Yes, but you would

[2019-10-01 01:27] adamsitnik commented on #905
@sandreenko I am closing, please feel free to reopen if the suggested change does not help.

[2019-10-01 01:27] #905 closed

[2019-10-01 15:20] BruceForstall commented on #894
If a newer version of ML.NET is now using the C# hardware intrinsic APIs, and not native code, we definitely want that, so we can measure the JIT performance of those.

[2019-10-01 17:49] sandreenko commented on #905
The suggested change helped me to get rid of temp files and still have symbols (note: add `using BenchmarkDotNet.Toolchains.CoreRun;` and don't pass `--coreRun` to the run).

It has not helped with
"E:\git\coreclr\bin\obj\Windows_NT.x64.Release\src\coreclr\hosts\corerun\Release\CoreRun.pdb in a location that may not be trustworthy, do you trust this file?", but I think we can live with clicking th

[2019-10-02 05:46] adamsitnik commented on #905
"E:\git\coreclr\bin\obj\Windows_NT.x64.Release\src\coreclr\hosts\corerun\Release\CoreRun.pdb in a location that may not be trustworthy, do you trust this file?

It's possible to disable this warning. I've not done it in a while, but as far as I remember you should just pass "TrustPdbs" when starting PerfView

[code]

[2019-10-04 11:01] alpencolt commented on #497
I've faced with the same error:
[code]
Content of `/tmp/Scenarios_2019_10_04_01_59_38_3795/RealWorld_log.txt`:
[code]

Is the description in README correct?

[2019-10-05 15:49] adamsitnik commented on #497
We have not updated these benchmarks in a while and I am afraid that we are not going to fix them anytime soon.

The good news is that @billwert is working on a new and better way of running real world benchmarks, and we are most probably soon going to have a new portfolio of real world benchmarks.

[2019-10-14 17:18] Gnbrkm41 opened #937 "Opening the project in VS results in files that are not gitignored"
Freshly forked & opened the `MicroBenchmarks` solution on VS2019, and I'm suddenly seeing 26 new files which appears to be some sort of CMake output files. Are they supposed to be tracked?
![image](https://user-images.githubusercontent.com/42944058/66770198-efd8c280-eef1-11e9-83d7-218f1c16039b.png)

[2019-10-14 17:22] Gnbrkm41 commented on #937
Looks like we may be able to just ignore the whole `src/benchmarks/gc/src/exec/env/out` folder?

[2019-10-14 17:29] adamsitnik commented on #937
The MicroBenchmarks solution has no native dependencies, I have no idea why you are seeing anything related to CMake. Which version of VS are you using?

[2019-10-14 17:37] Gnbrkm41 commented on #937
It appears that the VS automatically generates CMake files when I load the whole `performance` repo folder, actually. The CMake section of VS Output window shows:
[code]

It's VS2019 / 16.4.0 P1.

[2019-10-14 18:16] billwert commented on #937
Wild. This is coming out of the new GC stuff we checked in. That isn't in the sln at all, so there's something weird going on. We'll figure it out. Sorry!

@andy-ms can you take a look at this?

[2019-10-14 19:10] andy-ms commented on #937
Latest commit to https://github.com/dotnet/performance/pull/931 should fix this.

[2019-10-14 21:39] billwert commented on #937
I'm curious why this is happening at all in the context of the microbenchmarks.csproj project, though. I'll look at that a bit before I merge the fix. (Gonna be a few hours.)

[2019-10-14 23:31] andy-ms commented on #937
@billwert I think it was due to opening the root `performance` directory instead.

[2019-10-14 23:50] billwert commented on #937
Ah, okay. @Gnbrkm41 did you build the new GC stuff (using build.cmd) and then open Microbenchmarks.sln?

VS is just showing all the files in the workspace that are edited. The right fix there is as it is in #931. I just wanted to make sure somehow the Microbenchmarks project wasn't somehow doing something magic.

[2019-10-14 23:51] #937 closed

[2019-10-15 02:57] Gnbrkm41 commented on #937
I did not build anything before opening the solution.

I think this is the case; I experimented around, and by deleting the `.vs` folder then opening the `performance` folder (not the microbench solution) in VS, I was able to see the files generated along with the messages on the CMake output window.

[2019-10-15 19:11] billwert commented on #937
ah, weird. I didn't know it would automatically run those. I wonder if there is a way to suppress that.

Generally we don't expect folks to open the folder directly, but to use the .sln under Microbenchmarks. That's part of the confusion for me.

[2019-10-16 20:16] BruceForstall commented on #896
A specific example: based on the discussion in https://github.com/dotnet/performance/issues/894, ML.NET in this repo is 0.10.0, which is quite old compared to the current version, 1.4.0-preview2 (https://www.nuget.org/packages/Microsoft.ML/). In particular, it sounds like one important difference is that the current version uses managed SIMD / hardware intrinsics instructions instead of P/Invoke t

[2019-10-17 22:11] manandre opened #950 "Dataflow needs performance tests"
There is no benchmark for the System.Threading.Tasks.Dataflow library.
Given that Dataflow is often used in code that is performance critical, I think it should have at least a few performance tests.

See https://github.com/dotnet/corefx/issues/14049

[2019-10-24 22:46] BruceForstall commented on #894
It appears that changing the hard-coded ML.NET version from `0.10.0` to `1.4.0-preview2` doesn't work, due to API changes. Perhaps someone who knows this area better (@najeeb-kazmi who created the test originally?) could fix it to work with the latest version?

There's also the questions about whether a second copy of the ML.NET benchmarks should be added, so there is one for the current `0.10.0`

[2019-10-24 23:05] brianrob commented on #894
I think having additional JIT coverage here absolutely seems interesting.  I do wonder if we just add a new version with new benchmarks and keep the old one for some unspecified period of time.  This allows us to keep the history and at the same time increase coverage.  I think that choosing to drop coverage for the old version can be a separate decision.

[2019-10-29 16:50] adamsitnik commented on #896
One of the reasons why we did not update ML.NET version for a while was the fact that it was very frequently changing the public API. Since ML.NET 1.0 no breaking changes were introduced.

ML.NET has it's own copy of the benchmarks, which are kept up-to-date. To update, we could just copy the source code from https://github.com/dotnet/machinelearning/tree/master/test/Microsoft.ML.Benchmarks

[2019-10-29 17:06] adamsitnik commented on #896
Maybe we could have two jobs defined for ML.NET and Roslyn benchmarks: one using hardcoded and one latest version. I could extend the `.yml` micro-benchmark template with something optional like:

[code]

And handle it properly from the MSBuild level using some Env Vars and conditions:

[code]

I've used the asterisk here because ML.NET does not publish the packages using Maestro. So we don't know

[2019-10-29 21:17] DrewScoggins commented on #896
The main problem I see is that this does not solve the two variables moving porblem. We could still end up in a situation where we see a regression, but cannot say if that came from the runtime changing or ML.NET.

From a reporting system stand point we would probably want to split these runs out. That should allow us to encode the information that we would need to differentiate between runs that

[2019-10-29 21:43] DrewScoggins commented on #896
I wanted to add a few more points to clarify. I think that this idea is a good start for how we can move to having a hard coded and a moving version for ML.NET, but we also need to pair it with the machinery to lock to a certain version of .NET as well. So in the case were we are always taking a new version of ML.NET we should fix on the current released version of .NET so that we can ensure that

[2019-10-30 21:05] eerhardt commented on #896
In the context of ML.NET updating versus .NET runtime updating, I like the idea of having 2 separate "pipelines". Each pipeline has one library that is "constantly updated" and the other library is on its "last stable release" version.

So, for example, today we have ML.NET `1.4` and .NET Core `3.0` as the last stable releases of each. So we would have 2 pipelines:

1. ML.NET constantly updating,

[2019-10-31 17:26] adamsitnik opened #990 "Update all the docs once CoreFX and CoreCLR are merged into dotnet/runtime"

[2019-10-31 17:27] adamsitnik commented on #395
When dotnet/corefx and dotnet/coreclr are going to get merged into dotnet/runtime, we won't need repo-specific docs.

I am closing this one, the consolidaiton docs update is tracked in #990

[2019-10-31 17:27] #395 closed

[2019-11-01 17:38] #757 closed

[2019-11-03 14:30] filipnavara opened #999 "Add benchmarks for thread pool throughput"
There are several benchmarks floating around that would be nice to have in regular performance runs:

- https://github.com/dotnet/coreclr/pull/13670#issuecomment-325858065
- https://gist.github.com/filipnavara/8e6aa10131e68d313934b006aea82abd (BDN rewrite of some of the benchmarks from link above)
- https://github.com/benaadams/ThreadPoolTaskTesting

[2019-11-03 18:45] adamsitnik commented on #999
Good idea!

[2019-11-04 08:38] adamsitnik opened #1000 "Remove 2.2 after 23rd of December 2019"
According to https://dotnet.microsoft.com/platform/support/policy/dotnet-core .NET Core 2.2 is going to reach the end of support at 23rd of December 2019

Since we have a LOT of CI legs and there is a lot of `#if` in the code I believe that it would be good to remove all 2.2 stuff **after** it becomes

- [ ]  snap a branch with the existing state
- [ ]  update `.yml` file and build matrix page
- [

[2019-11-04 09:42] adamsitnik opened #1001 "Implement GC.AllocateUninitializedArray benchmarks when it becomes public"
When https://github.com/dotnet/corefx/issues/31787 is done, we should implement some benchmarks for it.

[2019-11-04 10:32] adamsitnik opened #1002 "Implement Range type benchmarks"
Add https://github.com/dotnet/corefxlab/blob/c36e355e3f2d439a040c4b06e45a134a31a0ba7a/tests/Benchmarks/System.Buffers.Experimental/RangeEnumeration.cs to https://github.com/dotnet/performance/blob/2296c92879ed0744cec9b983ac28ac208e7018bd/src/benchmarks/micro/corefx/System.Collections/Iterate/IterateForEach.cs

[2019-11-04 19:33] billwert commented on #1000
I've added snapping a branch to the list - in the event we ever need to run 2.2 tests for some reason I'd like to have an easy way to do that.

[2019-11-04 19:47] adamsitnik commented on #1000
good idea!

[2019-11-08 14:10] filipnavara opened #1021 "Build failure on .NET Core SDK nightly builds"
Cross-post from https://github.com/microsoft/msbuild/issues/4902. Some change between 2019-11-06 and 2019-11-08 caused dotnet/performance builds to fail on my build pipeline:

[code]

I am not sure whether it's cause by update of .NET Core SDK (5.0 nightlies) or something that changed in dotnet/performance.

[2019-11-08 20:34] brianrob commented on #1021
This looks like https://github.com/dotnet/sdk/issues/3868, which has been fixed via https://github.com/dotnet/toolset/pull/3487.

[2019-11-08 20:37] filipnavara commented on #1021
It totally does! Thanks!

[2019-11-08 20:37] #1021 closed

[2019-11-10 11:54] Gnbrkm41 opened #1025 "Getting dependency version issues when building ResultsComparer"
[code]

I'm on the latest HEAD (e8936cb) right now.

[2019-11-11 20:51] #1025 closed

[2019-11-12 19:00] DrewScoggins opened #1031 "Regressions introduced by BDN change"
https://pvscmdupload.blob.core.windows.net/reports/report_x64_release-3.1.1xx_Default_Windows1018362_dotnetcoresdk_Micro_2019-11-12.html

I have a report linked above that shows several places where we have regressions that came from the change in BDN that was introduced between the to commits in that report. There is also some other movement there, but any place where you see a shelf in the regre

[2019-11-12 19:01] DrewScoggins commented on #1031
@adamsitnik @billwert @ooooolivia

[2019-11-12 19:47] DrewScoggins commented on #1031
Specifically, this does not seem to be related to the underlying movement in the core-sdk product, but seems to be from the change that was introduced in the performance repo by https://github.com/dotnet/performance/commit/562fa1bff395580e058f1d995270f506fa6ed127. This change went into effect between these two core-sdk builds.

[2019-11-12 20:16] adamsitnik commented on #1031
Is this regression stable? I mean something like `______/******` in the graphs? And reproducible locally?

I am asking because this particular update should not affect the reported results. If it does I can investigate it next week (tomorrow I am traveling for Mono Team Week and Update Conference to Prague)

[2019-11-12 21:16] danmosemsft opened #1032 "Seed Randoms"
I see there are several unseeded `Random`s in the benchmarks. I'm guessing that seeding these would do no harm, and possibly increase stability based on the details of the algorithms they are testing.

[code]

[2019-11-14 22:30] ooooolivia opened #1038 "dotnet installer failed for not finding the right sdk version"
```dotnet-install.ps1``` crashes for netcoreapp3.1 because it cannot find the installed sdk that has the specific version with suffix.

the broken build: https://dev.azure.com/dnceng/public/_build/results?buildId=427646

PR [#1037](https://github.com/dotnet/performance/pull/1037) will temporarily fixed it by using another script; need to revert it when the issue is fixed.

[2019-11-19 08:01] adamsitnik commented on #1032
https://github.com/dotnet/performance/blob/3941f11e000edd7a404599fc2e401129c25bc4ad/src/benchmarks/micro/coreclr/SIMD/RayTracer/Raytracer.cs#L72

This should most probably have a const seed :+1:

---
https://github.com/dotnet/performance/blob/3941f11e000edd7a404599fc2e401129c25bc4ad/src/benchmarks/micro/coreclr/V8/Crypto/Crypto.cs#L1749-L1750

This is a dead code (the `#USE_RANDOM_SEED` is not set

[2019-11-19 08:03] #1032 closed

[2019-11-19 09:58] filipnavara opened #1045 "Add an option to pass environment variables to the default job"
When testing against the mono/netcore runtime we often want to run the actual benchmark with specific runtime configuration. This is achieved through setting the `MONO_ENV_OPTIONS` environment variable. However, we also want to use different `MONO_ENV_OPTIONS` when running `dotnet restore` or `dotnet build` for performance reasons. It would be nice to allow some way to inject the environment varia

[2019-11-19 16:01] adamsitnik commented on #1045
Do I understand correctly that you would like to have the possibility to specify two different set of env vars, one for `dotnet build|restore` executed by BDN and another for the benchmark process?

[2019-11-19 16:11] filipnavara commented on #1045
That's correct. However, the ones for `dotnet build|restore` can be set in the context of the outer process so there's no need for a mechanism to set the inside BDN.

[2019-11-19 16:14] adamsitnik commented on #1045
Ok, so the thing that you are currently doing looks good to me (you are using the right API for the job).

Does it mean that you would like to somehow pass the env vars via console line arguments?

[2019-11-19 16:31] EgorBo commented on #1045
Would be nice! 🙂

[2019-11-21 12:31] adamsitnik opened #1049 "Experiment Report: Using BenchmarkDotNet to find methods that can cause longe GC pause times"
I was asked by @jkotas if it would be possible to run a simple experiment using BenchmarkDotNet and find methods that can cause long GC pause times. Examples: https://github.com/dotnet/coreclr/issues/27106 https://github.com/dotnet/coreclr/issues/27683

I took the idea from following @jkotas example:

[code]

And hacked BenchmarkDotNet to:

* start a new thread that runs the benchmark code with a

[2019-11-21 12:31] adamsitnik commented on #1049
In the next step, I've run all the benchmarks we have in this repo and wrote a small parser that sorted them descending by average reported time.

The full results can be obtained here: https://gist.github.com/adamsitnik/e31284814b44bcb3078825e0018a1ea3

Top:

[code]

[2019-11-21 12:34] adamsitnik commented on #1049
I've taken a brief look at the results to verify that they are correct.

The worst is `Double.Cbrt` which calls `Math.Cbrt` in a tight loop:

https://github.com/dotnet/performance/blob/64e1e284ec6e65e15b9e95eea1e6fb938aa1749c/src/benchmarks/micro/coreclr/Math/Functions/Double/Cbrt.cs#L24-L28

And internally performs an fcall to `COMDouble.Cbrt`

https://github.com/dotnet/coreclr/blob/a49296e266ae9

[2019-11-21 12:36] adamsitnik commented on #1049
@jkotas please let me know if you want some more information or confirmation. I am not going to investigate all the methods right now because you most probably know how they are implemented and can quickly tell where the problems are and what is by design ;)

[2019-11-21 13:03] tannergooding commented on #1049
We currently have an issue with many of the math functions that different platform/architecture combinations have different implementations and so compute different results and can have wildly different performance characteristics.

So it might be worth also getting results on Linux and macOS for these to help compare/contrast.

[2019-11-21 15:29] stephentoub commented on #1049
Nice experiment and analysis, @adamsitnik.

[2019-11-21 23:43] VSadov commented on #1049
Very nice!

[2019-11-22 00:16] VSadov commented on #1049
So, looking at the fact that calling `Asinh` in a loop can cause 2sec GC pause.
Is that because FCALL invocation is not a GC safepoint? (I kind of assumed that it is similar to a regular call in that sense...)

I can easily imagine a loop doing just math and trivial FCALLs - math, typesystem/VM helpers like casts and threadstatics, `GetTickCount`, etc ...

 @jkotas - How is that actually handled?

[2019-11-22 05:11] jkotas commented on #1049
FCALLs are supposed to poll for GC to avoid GC starvation. Many FCALLs are missing the polls.

We can fix this by either adding the GC polls to all FCALLs that we find problematic; or teaching the JIT to generate the GC poll around every FCALL call (ie use the same GCPoll logic as SuppressGCTransition that was introduced recently).

[2019-11-23 12:08] jkotas commented on #1049
I have opened https://github.com/dotnet/coreclr/issues/27931 and
https://github.com/dotnet/coreclr/issues/27930 on the worst offenders.

[2019-11-26 20:20] adamsitnik commented on #1049
I've run the experiment for Ubuntu 18.04 using exactly same hardware (my PC with dual boot)

Full results: https://gist.github.com/adamsitnik/e31284814b44bcb3078825e0018a1ea3#file-linux_results-txt

Top 100:

[code]

[2019-11-26 20:55] adamsitnik commented on #1049
Linux vs Windows comparison, sorted descending by sum of medians: https://gist.github.com/adamsitnik/e31284814b44bcb3078825e0018a1ea3#file-linux_vs_windows-txt

top 100:

[code]

[2019-11-26 21:08] adamsitnik commented on #1049
I've reported an issue I've hit when I was running the benchmarks: https://github.com/dotnet/runtime/issues/314

@jkotas pleas let me know if you need any more data.

[2019-11-26 21:08] #1049 closed

[2019-11-26 21:13] jkotas commented on #1049
Thanks! We have issues opened on the top problems found by this experiment.

[2020-01-04 22:33] ts2do opened #1113 "Documentation needs to be updated for dotnet/runtime"
The repo documentation needs to be updated to reflect the workflow for running benchmarks against private dotnet/runtime builds.

I have been trying to benchmark a private build without much luck. I've been executing the following commands, but it doesn't create the hard links that I was getting when I built corefx using CoreCLROverridePath.
[code]

[2020-01-05 16:25] gfoidl commented on #1113
https://github.com/dotnet/performance/issues/990 should cover this too.

[2020-01-05 21:34] ts2do commented on #1113
I'm closing this as a duplicate.

[2020-01-05 21:34] #1113 closed

[2020-01-05 21:38] ts2do commented on #990
Is there any estimate on when this will be ready? Thanks.

[2020-01-09 12:53] adamsitnik commented on #990
I am working on this, currently we are blocked by https://github.com/dotnet/runtime/issues/1523

[2020-01-12 19:41] hnrqbaggio commented on #1002
@adamsitnik I'm interested in looking into this one, but have a question: the Sytem.Range type doesn't implement IEnumerable, so the test would need to be different from what the RangeLab benchmark was doing. Is the idea to add a test in the IterateForEach when we use a range to get a slice for a collection and then iterate (similar to how the Span case works)?

[2020-01-17 10:57] #990 closed

[2020-01-17 11:29] adamsitnik opened #1137 "Remove 3.0 after 3rd of March 2020"
According to https://dotnet.microsoft.com/platform/support/policy/dotnet-core .NET Core 3.0 is going to reach the end of support at 3rd of March 2020

Similar to #1000 we have a LOT of CI legs and there is a lot of `#if` in the code I believe that it would be good to remove all 3.0 stuff **after** it reaches EOL. Just a reminder 3.1 is the LTS.

- [ ]  snap a branch with the existing state
- [ ]

[2020-01-22 09:01] #1000 closed

[2020-01-22 19:39] billwert opened #1145 "Missing release branch feeds cause build failures"
After they had been working for some time, our 3.1.2 scenario runs started failing like this:

[code]

The root issue is that at the end of a release, stable packages are pushed to specific isolated feeds. I'm pretty sure this only impacts things we try to build standalone as those are the only things that will need packages from the feed. Everything running against the SDK/runtime we download sho

[2020-01-23 00:55] wfurt commented on #727
I have same issue on MacOS. I'm not even trying to run all tests:
[code]

it would be great if individual tests do not impact everything. AFAIK, corefx has detection if GDI is available or not to prevent issues like this.

cc: @safern

[2020-01-23 01:00] filipnavara commented on #727
@wfurt A workaround is to either 1) install "mono-libgdiplus" through Homebrew or 2) apply a patch to make the error non-fatal (https://github.com/filipnavara/performance/commit/7147e390bb20d101729c16cbee8d1767d7e1ca1a).

The code tries to do the test case evaluation lazily but apparently it doesn't work as intended.

[2020-01-23 01:13] wfurt commented on #727
I end up independently with something very similar. Would it be reasonable to skip tests when external prerequisites are not met @adamsitnik ?  I can run dotnet on this machine as well as build and run all runtime tests. Or would it be sufficient to blow up when somebody attemps to run the test? We can possblly return array of failing tests rather then bomb in construcktor.

Thoughts?

[2020-01-23 01:23] safern commented on #727
That's what we do in the runtime repo, we condition the tests to not run if we can't find libgdiplus is installed in the machine:

https://github.com/dotnet/runtime/blob/master/src/libraries/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.cs#L36-L57

Anyway, @noahfalk did you try installing libdl?

[2020-01-23 02:57] noahfalk commented on #727
I attempted to install libgdiplus with an assumption that it would also install dependencies if those were missing. At this point its been too long for me to remember if I attempted any other commands to install libdl, but I never fixed the issue - I worked around it as described above. Since then I've had no need to run those tests and I no longer have the repro environment.

[2020-01-27 18:00] DrewScoggins opened #1152 "Some Ubuntu ARM64 machines failing to install python packages"
The ARM64 machines 6-10 are failing to install python packages via the automation. I am removing these from the queue for now so we can start to get full runs again. These machines will then be reimaged to Windows ARM64 and the other five Ubuntu machines will continue to service the old queue.

@BruceForstall

[2020-01-31 02:08] wfurt commented on #56
The tests are still disabled and hanging when enabled. I look at it and it is a test bug and dotnet/corefx#18290 is closed. I will submit PR with a fix shortly.

[2020-02-10 02:15] naricc opened #1178 "Build Microbenchmark Error: WritePreservedReferences.cs missing reference for 'ReferenceHandling'"
Platform: Ubuntu 18.04.4 LTS

Repro:

In this repro:
[code]

Has the latestest dailies for dotnet core runtime and dotnet core sdk. Here is the version information:
[code]

Trying to build the microbenchmark projects produces the following error:

[code]

[2020-02-10 22:41] wfurt commented on #727
I updated the code for OSX. Since we no longer have repro and this is pretty old, should we just close it? It does not seem actionable.

[2020-02-11 20:11] cshung opened #1179 "Test WeakReference<T> finalization performance."
Recently I have [fixed](https://github.com/dotnet/runtime/pull/2474) a [performance issue](https://github.com/dotnet/runtime/issues/2274) related to finalizing `WeakReference<T>`. We should have some performance tests in place to test the performance of it.

[2020-02-12 16:00] HoundThe opened #1184 "Benchmarking selected frameworks, common.props file"
Hey there!

I was trying to make a script that runs clones and runs the micro benchmarks, but I've found an issue. I want to use the .NET packages that are on my system, so I don't want to use the python script because that downloads the framework from the internet. So I want to use the dotnet CLI but not for every framework version, and I found this in the docs how to use selected runtimes

<http

[2020-02-12 16:21] #1184 closed

[2020-02-12 16:23] adamsitnik commented on #1184
Hi @HoundThe

Yes.

I've updated the docs in #1185. The alternative is to set `PERFLAB_TARGET_FRAMEWORKS` environment variable to selected Target Framework Moniker. This is what our python script does.

[2020-02-12 16:27] HoundThe commented on #1184
Thanks a lot for the quick response!

[2020-02-12 19:19] adamsitnik commented on #1178
Hi @naricc

It looks like you don't have the latest SDK (the name of the latest SDK currently contains `preview` and in your case, it's `alpha`) .

`dotnet/runtime` repo is not using the latest bits (it's always a little bit behind) which are [required](https://github.com/dotnet/performance/blob/master/docs/prerequisites.md#net-core-sdk) to build and run the micro benchmarks project

[2020-02-12 20:53] naricc commented on #1178
@adamsitnik

That is where I downloaded the sdk from in the first place, specifically the "latest" build link for linux: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-linux-x64.tar.gz

I tried downloading a new version just now, and that seems to have resolved it. But I wonder what went wrong int he first place? Could the latest tar ball have gotten out of sync with t

[2020-02-13 08:14] adamsitnik commented on #1178
I have no idea.

The best way to ensure that you are using the latest .NET Core SDK is to use our python script which is also used by the CI. It takes care of downloading the latest SDK and setting appropriate env vars like `DOTNET_MULTILEVEL_LOOKUP` etc.

[code]

[2020-02-14 18:16] #1178 closed

[2020-02-26 18:35] DrewScoggins opened #1209 "Make performance CI tests more resilient to dotnet-install failures"
https://github.com/dotnet/runtime/issues/32835 was caused by a failure in the middle of publishing the core-sdk build, and as a result the dotnet-install script was in a torn state. We should look into what we can do on our side to protect ourselves from this, and other dotnet-install failures, as well as track any work that is being done to prevent these bad publishes.

[2020-02-26 19:11] DrewScoggins commented on #1209
https://github.com/dotnet/core-sdk/issues/6572 tracking the failure in publishing

[2020-03-04 13:15] adamsitnik commented on #1222
@tannergooding good idea! #done

[2020-03-04 15:45] #1137 closed

[2020-03-05 19:31] ivdiazsa opened #1225 "Add Verbose/Debug option to make_memory_load in GC Benchmarking Infra"
One of the scenarios in the GC Benchmarking Infra, which is labeled as _high_memory_, requires the use of a tool (named _make_memory_load.c_) to load the machine's memory to a specified percentage.

This tool has the capability of printing detailed messages on the current memory loading numbers, as well as other informative stats while running, which is very helpful for debugging. However, this fu

[2020-03-10 04:42] naricc opened #1231 "--buildTimeout doesn't seem to work"
Platform: OSX
Runtime: Mono --interpreter

Short description: Still get time out errors even with a very large --buildTimeout argument

I encountered this trying to run the microbenchmarks on Mono with the interpreter, although I suspect it might be possible to reproduce more easily by constructing a slow to build benchmark. None the less, I have include repro steps using mono below.
I had to use

[2020-03-13 12:54] tmds opened #1238 "Using PerfView/perfcollect with Linux traces"
I got a basic introduction to PerfView from @adamsitnik and I've been using it to look at ASP.NET Linux `perfcollect` traces.

I want to share some observations.

- One thing that shows up is `[unknown] (/ (deleted))` and `[unknown] ([unknown])`.
Something could not be resolved here. I'm not sure what is the root cause.

`[unknown]` also shows up for .NET assemblies, for example (from `perf.data.t

[2020-03-13 16:21] billwert commented on #1238
Hello! I think this issue probably belongs in microsoft/perfview. It looks like the JIT maps didn't properly get collected, which would be a bug in perfcollect.

I can't transfer the issue as it is across orgs, so I'll copy it and open it there.

[2020-03-13 16:21] #1238 closed

[2020-03-18 01:29] billwert commented on #1231
Hello!

I don't have a Mac to try this on. @adamsitnik do you?

[2020-03-18 03:01] naricc commented on #1231
@billwert @adamsitnik

I can probably arrange for a shell on one, if that would be sufficient. Or it may repro on other platforms.

[2020-03-18 09:52] adamsitnik commented on #1231
It looks like it's a BenchmarkDotNet bug, which respects the `buildTimeout` value only if `runtimes` value is specified in an explicit way:

https://github.com/dotnet/BenchmarkDotNet/blob/df434ee282a533b6dc4e07529ea8d90e4fa37a8c/src/BenchmarkDotNet/ConsoleArguments/ConfigParser.cs#L301-L303

@naricc the workaround it to specify the tfm using `--runtimes` option, so in your case it would be:

[code

[2020-03-25 22:01] eanger opened #1250 "'py . setup' fails if lscpu has 'unknown size' for caches"
Some systems may not have properly configured lscpu output, where the reported value for things like L1d/L1i/L2/L3 cache size is 'unknown size'. Consider changing line:
https://github.com/dotnet/performance/blob/bce72f868c37f6af15dc788e1162c52751f01521/src/benchmarks/gc/src/commonlib/host_info.py#L133
to `return map_option(get_opt(name), lambda s: int(remove_str_end(s, "K")) if s != 'unknown size'

[2020-04-09 07:45] filipnavara opened #1271 "ResultsComparer build is broken"
Getting the following errors since April 07, 2020:

[code]

The last successful build was from day before that.

[2020-04-09 07:47] filipnavara commented on #1271
Likely broken with PR #1269 that bumped to newer BDN version.

[2020-04-09 08:49] #1271 closed

[2020-04-11 01:12] kunalspathak opened #1277 "Option to run benchmarks in a folder"
I am interested in running benchmarks inside [runtime folder](https://github.com/dotnet/performance/tree/master/src/benchmarks/micro/runtime) but looks like there is no unified namespace that I can use to filter. Is there a way to specify folder or should we add namespace based on folders?

[2020-04-13 17:51] billwert commented on #1277
Does the `Runtime` category not suffice? Is it too big?

In general categories are the solution to this. If we need to add more categories that's the approach I would take.

[2020-04-13 18:12] kunalspathak commented on #1277
I was not aware of `category` filter, but looking at it, there are benchmarks outside the runtime folder that are tagged as `Runtime` . Even the [AnyCategories](https://github.com/dotnet/BenchmarkDotNet/blob/e8bf99272bc410601863bda338b57d0c46baad70/src/BenchmarkDotNet/Filters/AnyCategoriesFilter.cs#L15) and [AllCategories](https://github.com/dotnet/BenchmarkDotNet/blob/e8bf99272bc410601863bda338b5

[2020-04-13 18:18] billwert commented on #1277
@adamsitnik

Unfortunately folders get lost by the time we build the benchmarks, because benchmarks are built into a single DLL and the names are pulled out of metadata at runtime. I think the best we can do here will require a BDN feature, which would either let you have negative search on `--filter` or `--category`. I don't know how that would stack on their priority list.

[2020-04-14 07:50] adamsitnik commented on #1277
I agree that it would be great to have a negative search feature. Could you please create an issue with some examples in the BDN repo?

Another thing that could possibly work without any BDN changes would be passing some magic regex expression to `--filter` which is internally using .NET Regex to find the matches:

https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Filters/G

[2020-04-14 18:34] kunalspathak commented on #1277
I tried with some simple regex, but apparently it didn't work.
`dotnet artifacts\MicroBenchmarks.dll --filter "BenchStone.BenchF.*|BenchStone.BenchI.*" --list tree`

[2020-04-15 17:04] HoundThe opened #1284 "GC benchmarks"
Hi!
I am trying to run your default GC test suite, but I don't how if it's even possible to use existing coreclr of dotnet version on my machine and not one built from dotnet/runtime repository? I see that the repo_path: (in the readme they are named core_root) has to be a git repository aswell otherwise python throws exception while running a test.

[2020-04-15 17:54] billwert commented on #1284
cc @ivdiazsa

[2020-04-15 18:03] billwert commented on #1250
cc: @ivdiazsa

[2020-04-15 18:04] billwert commented on #1277
Closing this one as we have an issue in the right place now.

[2020-04-15 18:04] #1277 closed

[2020-04-16 01:25] ivdiazsa commented on #1284
Hi @HoundThe,

Running GC Benchmarking Infra with the default `dotnet` installation on your machine is not a currently supported scenario. The tool was developed with the intent to measure performance while working on dotnet runtime development. That said, it is actually possible to run benchmarks using your `dotnet` installation, but requires additional setup I will explain here.

You have to bui

[2020-04-16 15:31] RheaAyase commented on #1284
To me as someone who didn't actually look into this it's very weird and confusing. So the intended use case is just for coreclr engineering to build their changes locally and run the benchmark on that? Nothing for real world end-user? I'm pretty sure that different platforms will make interesting differences that I'd like to look at (for example I have 6 identical machines with different OS betwee

[2020-04-17 19:14] #1250 closed

[2020-04-21 22:27] kunalspathak opened #1292 "Accessing static variables inside benchmark code"
Many benchmark code access static variables inside benchmark code. The access produces call to helpers. Sometimes running the helper function is more expensive than the benchmark code. Consider revisiting them to see if we can use non-static variables. Ofcourse, testing the access of static variables is important, but we can restrict it to certain benchmarks instead of all benchmarks.

[2020-04-21 22:44] kunalspathak commented on #1292
[PerfLabTests.CastingPerf2.CastingPerf.ObjrefValueTypeObj](https://github.com/dotnet/performance/blob/8aed638c9ee65c034fe0cca4ea2bdc3a68d2a6b5/src/benchmarks/micro/runtime/perflab/CastingPerf2.cs#L220)

[code]

![image](https://user-images.githubusercontent.com/12488060/79921385-ef603d80-83e6-11ea-9d4c-588a35224f30.png)

[2020-04-22 01:15] BruceForstall commented on #1292
I'm a little surprised the JIT can't just determine the entire expression is loop invariant and eliminate the loop entirely.

In this case, presumably the access to static `InnerIterationCount200000` is also more expensive than a local?

[2020-04-22 06:54] kunalspathak commented on #1292
Yes, I will open an issue to track this. This is general optimization not related to arm64.

[code]

[2020-04-22 07:01] kunalspathak commented on #1292
https://github.com/dotnet/runtime/issues/35279

[2020-04-22 09:54] adamsitnik commented on #1292
If this is a problem, we should rewrite these benchmarks to not use any [loops](https://github.com/dotnet/performance/blob/master/docs/microbenchmark-design-guidelines.md#Loops).

In this case, the benchmark could be just:

[code]

But we would have to make sure that the JIT is not applying any kind of constant folding to such simplified benchmark. So things like:

[code]

Are not optimized to:

[

[2020-04-22 22:54] #417 closed

[2020-04-24 07:52] adamsitnik commented on #727
@wfurt good idea, I am going to close it

[2020-04-24 07:52] #727 closed

[2020-05-12 17:09] billwert opened #1325 "Comparison tool needs to show test names more fully"
In #1322 it's been pointed out that the comparison tool doesn't show the full name.

I think we should smartly truncate long names something like this:
[code]
The beginning of the namespace is almost always never interesting, IMO.

Thoughts?

cc: @adamsitnik @ooooolivia @DrewScoggins

[2020-05-13 08:34] adamsitnik commented on #1325
Good point. We could take the last 80 chars, not the first 80 chars and even make the magic `80` number configurable via console line argument.

[2020-05-15 09:43] filipnavara opened #1328 "ResultsComparer can crash on certain numbers"
I've got this exception on one of my scheduled benchmark runs:

[code]

The failing command line:
[code]

Results from the specific run are downloadable at https://filipnavara.visualstudio.com/mono-performance/_build/results?buildId=468&view=artifacts&type=publishedArtifacts, it's specifically the `osx_x64_coreclr` and `osx_x64_monollvm` set.

[2020-05-16 06:52] #1328 closed

[2020-05-20 02:43] NickCraver commented on #462
I'm curious, has the thinking on this has changed any? I have a current scenario of wanting to submit some improvements for `Microsoft.Extensions.Caching.Memory`, but I can't figure out how to benchmark them aside from manually creating the NuGet packages and reference swapping them locally. Though these are in `dotnet/runtime`, it doesn't seem like there's a friendly way to profile them _as far a

[2020-05-20 03:23] ericstj commented on #462
Cc @maryamariyan

[2020-05-20 08:30] adamsitnik commented on #462
@NickCraver The alternative is to reference the source files directly in the project with benchmarks, but this would work only locally and for simple things.

@DrewScoggins @billwert I think that we should re-discuss this problem and solve it.

[2020-05-20 09:56] adamsitnik commented on #462
@NickCraver It was hard for me to accept the fact that it does not work as it should so I just tested it with CoreRun and it looks like it works the way we need it to work.

You can see the commit here: https://github.com/adamsitnik/performance/commit/463591cd9539b67f43879973c6d930671e8e373f

[code]

When running the benchmark using default SDK from PATH:

[code]

It prints:

[code]

While running

[2020-05-20 10:32] NickCraver commented on #462
@adamsitnik I have no idea what I was doing last night (and fell back to DLL refs) but it's indeed working now! Awesome. I was wondering if there was magic for this and if so where it was - thank you!

[2020-05-27 20:58] mrj001 opened #1337 "profiling instructions for visual studio"
I'm using the x64 Native Tools Command Prompt for VS2019 Preview.
The version of VS is Version 16.7.0 Preview 1.0 (Community Edition)
Following the instructions in blob/master/docs/profiling-workflow-dotnet-runtime.md, I use the following commands:
[code]
This shows:

[code]
shows a large number of DLLs, plus CoreRun.exe and another copy of dotnet.exe.

Note that I had to change "netcoreapp5.0" fr

[2020-05-27 23:36] DrewScoggins commented on #462
Yeah, @adamsitnik. Let's setup some time to discuss this and see if we can get a plan together on what the best way forward is to solve this.

[2020-06-05 08:47] rzikm commented on #1337
I am facing the same problem, I will add that setting env vars accordingly leads to following `dotnet --info` output:

[code]

I am sure that the issue is in the `No SDKs were found` part, but I don't know how to solve it.

[2020-06-15 15:43] marek-safar opened #1359 "Port mono benchmarks to this repo"
Port https://github.com/mono/mono/tree/master/sdks/wasm/standalone-benchmarks to this repo. The most useful probably will be the high-level benchmarks.

/cc @lewing

[2020-06-18 21:32] ooooolivia opened #1369 "Move creating blazor template from HelixPrecommand"
As a principle, we'd like to minimize our dependence on internet when we run workitems. For blazor scenario, ```dotnet new -i Microsoft.AspNetCore.Components.WebAssembly.Templates::3.2.0-preview2.20160.5``` should be moved out of HelixPrecommand.

https://github.com/dotnet/performance/pull/1357
https://github.com/dotnet/performance/blob/f09425a45cd9e4a9ac183a8987cf0eac0cfa9f34/eng/performance/scen

[2020-07-02 20:08] Jozkee opened #1387 "Disassembler fails with coreRun on MicroBenchmarks"
Running the following in MicroBenchmarks:
[code]

Throws the following exception:
[code]

The disassembler works fine when you don't specify a private dotnet coreRun.

[2020-07-10 17:07] ooooolivia opened #1392 "Update Blazorwasm PowerBi"
This issue is for gathering feedbacks and tracking to-do items for [Blazorwasm PowerBi dashboard](aka.ms/dotnetperfstatus). Feel free to comment below to suggest other improvements on the dashboard.
- [x] validation for automatic data refresh
- [x] trim part of the path to fit in the graph (not able to due to aggregation problem, but 'file name' added in the tooltip )
- [ ] add link to linker dump

[2020-07-10 17:34] danmosemsft commented on #1392
does it make sense to have separate "square diagrams" for uncompressed, gzip and brotli? the size of the whole is not significant - we care about them separately. I don't feel strongly either way

[2020-07-10 17:41] ooooolivia commented on #1392
@danmosemsft  Do you mean a treemap showing the size of individual files of type "uncompressed", "gzip" and "brotli"? If you scroll down the dashboard page, we do have this in the second graph.

![image](https://user-images.githubusercontent.com/51934529/87182790-ac04c500-c299-11ea-874a-7a1c746dec5f.png)

[2020-07-10 18:00] danmosemsft commented on #1392
Ah - thanks

[2020-07-10 22:02] marek-safar commented on #1392
I disagree with enhancement classification. The dashboard as-is today does not work at all. The last update is from 3 weeks ago and data included as pointed our by @eerhardt are wrong (3.2 data used for master). Please work on fixing the fundamentals problems first.

[2020-07-10 22:48] ooooolivia commented on #1392
@marek-safar  Since when did blazorwasm transition from 3.2 to 5.0? We do notice that in preview 6 there's still 3.2 template, and that's what our data reflect. We are actively fixing the data transfer pipeline for blazor since it's just set up.

[2020-07-10 23:06] marek-safar commented on #1392
It was in .NET5 P7 but I'm not sure if that matters. We need to be able to track master changes at least daily (ideally even more than that).

[2020-07-10 23:25] ooooolivia commented on #1392
@marek-safar  by "master" do you mean blazor master? If SDK master still carries blazor3.2 version as it's unsynced, we are happy to remove the data that still shows blazor3.2 but from SDK 5.0. In our graph, the "master" means the installer's master branch.

[2020-07-11 07:29] marek-safar commented on #1392
Yes.

[2020-07-15 16:47] naricc opened #1397 "Create a "CulterSpecific" Benchmark Category"
The mono interpreter  has a INVARIANT_GLOBALIZATION option that can turn off some globalization features. We want to be able to measure the performance impact of it, but some benchmarks can not run with that option. For example, Perf.DateTimeCultureInfo:  https://github.com/dotnet/performance/blob/8aed638c9ee65c034fe0cca4ea2bdc3a68d2a6b5/src/benchmarks/micro/libraries/System.Globalization/Perf.Dat

[2020-07-15 16:47] naricc commented on #1397
I intend to do this myself, but can't assign myself :)

[2020-07-16 17:53] ooooolivia commented on #1392
There's an issue in the installer repo that the latest asset produced stays at 7/12/2020 https://github.com/dotnet/installer/issues/8011 , will keep tracking this issue.

[2020-07-18 04:44] lewing commented on #1392
The data and graphs are getting much better day by day, thank you so much for working on this.  One thing that is consistently confusing is the lack of 0 lower bound, would it be possible to include a small lower bound to force power bi to scale graphs in absolute terms?

[2020-07-20 19:24] ooooolivia commented on #1392
@lewing  Thanks for the feedback! Yes the trend graph has just been updated with fixed start and end values. Changes in smaller files may be too trivial to identify now. Please let me know if you'd prefer separate graphs for large values and small values.

![image](https://user-images.githubusercontent.com/51934529/87977131-14fef080-ca83-11ea-9c92-40a80ca38508.png)
![image](https://user-images.git

[2020-07-22 18:03] ooooolivia opened #1402 "BinaryFormatter serialization obsolete"
```'BinaryFormatter.Serialize(Stream, object)' is obsolete: 'BinaryFormatter serialization is obsolete and should not be used. See https://aka.ms/binaryformatter for more information.'```

https://github.com/dotnet/runtime/commit/324c6c7f1240b6cf92e1f3215cf35e9206ec100c

There's an update in the runtime that obsoleted this method and action should be taken to remove the error.

[2020-07-22 18:28] ooooolivia commented on #1402
@GrabYourPitchforks The action we are temporarily taking is to suppress the warning but still test this microbenchmark Any suggestions?

[2020-07-22 19:23] lewing commented on #1392
The data from today has a file size for icudt.dat that doesn't match what I'm seeing.

[2020-07-22 22:49] lewing commented on #1392
@ooooolivia very helpfully walked me through where the package versions come from and I'll wait for the installer to catch up.

[2020-07-23 01:44] DrewScoggins opened #1405 "Add retry logic for downloading dotnet-install.(sh/ps1)"
We do not have any retry logic here so if we hit a download error of some kind we just fail the build.

[2020-07-23 01:44] DrewScoggins commented on #1405
@billwert @ooooolivia

[2020-07-23 17:30] alexcovington commented on #1402
Also experiencing this error, currently is blocking my workflow. Is there a workaround I can use in the meantime?

[2020-07-23 17:46] GrabYourPitchforks commented on #1402
@alexcovington The suppressions are already checked in at https://github.com/dotnet/performance/pull/1403. Consumers of this repo should be unblocked.

This repo is essentially a test project. Our own test projects suppress this obsoletion because we need to be able to test the runtime functionality. So it would be appropriate for this repo to do the same.

[2020-07-23 17:51] alexcovington commented on #1402
@GrabYourPitchforks Thanks. I'll pull and update my local copy.

[2020-07-24 00:35] billwert commented on #1405
Fixed by #1406

[2020-07-24 00:35] #1405 closed

[2020-07-27 18:55] alexcovington opened #1411 "Unable to run benchmarks in Ubuntu 20.04"
Unable to run benchmarks in Ubuntu 20.04. Installed .NET 5.0 via Snap using [these instructions](https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-preview.7-install-instructions.md#install-using-snap). Then to get the regular `dotnet` CLI command, I used Snap to alias `dotnet-sdk.dotnet` to `dotnet` with the command:

[code]

 I'm running the benchmarks with the command:

[2020-07-27 19:01] alexcovington commented on #1411
My bad, I just found the --cli option when running. Closing this.

[2020-07-27 19:01] #1411 closed

[2020-07-27 19:08] alexcovington opened #1412 "Benchmarks fail to run on Ubuntu 20.04"
I'm unable to run any of the benchmarks on Ubuntu 20.04. I've installed .NET 5.0 via Snap using [these instructions](https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-preview.7-install-instructions.md#install-using-snap). I've aliased the `dotnet-sdk.dotnet` command as `dotnet` using:

[code]

Then I run the benchmarks in interactive mode using:

[code]

Which gives me the

[2020-07-27 19:18] alexcovington commented on #1412
Output of `dotnet --info`:

[code]

[2020-07-28 10:40] Gnbrkm41 commented on #727
I hit the same kind of issue during attempts to run benchmark on my RPi 3B+ w/ Ubuntu arm64. Here is my output:
[code]

Some other similar issues such as https://github.com/dotnet/dotnet-docker/issues/618 suggested that I may be missing some other dependencies, so I tried `sudo apt-get install libgdiplus libc6-dev libx11-dev`, and now it seems to work.

[2020-07-28 18:05] safern commented on #727
It might be worth to expand this condition to all OSes. There are some windows SKUs as well that might not carry GDI+ like nano or server core.

https://github.com/dotnet/performance/pull/1173/files#diff-18cd5ab72627c912954386cf254f95a6R69

[2020-07-28 18:15] billwert commented on #1412
Hi @alexcovington! We will take a look. Right now we are on 18.04 in our normal runs and haven't investigated 20.04 yet. Thanks for bringing it to our attention.

[2020-07-28 20:08] alexcovington commented on #1412
Thank you, @billwert!

[2020-07-28 20:11] alexcovington commented on #1412
If this is any help, I was able to get benchmarks running by just downloading the binaries and pointing directly to them. I ran it with:

[code]

[2020-07-28 20:21] billwert commented on #1412
You mean downloading the runtime binaries, instead of using the Snap install?

[2020-07-28 20:24] alexcovington commented on #1412
Correct, the x64 binaries off of [this page](https://dotnet.microsoft.com/download/dotnet/5.0).

[2020-07-30 00:02] danmosemsft commented on #1402
Seems this can be closed now then @ooooolivia ?

[2020-07-30 01:17] #1402 closed

[2020-07-30 22:58] alexcovington opened #1422 ""Could not load file or assembly 'System.Runtime'" when running benchmarks with local runtime build on Ubuntu 20.04"
I'm trying to benchmark a local build of CoreCLR on Ubuntu 20.04 but am getting an error whenever I try to point to the `corerun` binary.

When I run the benchmarks normally with the system-installed runtime with the following command:

[code]

everything runs normally as expected and any benchmark I select from the interactive menu finishes running.

However, when I run and pass the path to the `

[2020-07-31 00:14] danmosemsft commented on #1422
How did you build coreclr? It should have copied corerun into testhost. You need to run it there so that it can find everything else.

Meantime, it might work to simply manually copy it there and run it from there.

[2020-07-31 16:13] alexcovington commented on #1422
@danmosemsft, I built CoreCLR with the following:

[code]

This doesn't seem to produce a `corerun` in the `testhost` directory. The build also is not reporting any errors.

I will try copying `corerun` into the `testhost` directory and mimic the Windows directory structure and will update the issue with results.

[2020-07-31 16:19] alexcovington commented on #1422
Copying `corerun` seems to have fixed it.

[2020-07-31 16:33] danmosemsft commented on #1422
@jkoritzinsky should `./build.sh -c Release -lc Release -rc Release -f netcoreapp5.0 --arch x64 --os Linux` have copied corerun to the testhost directory? If not, what command would do that?

[2020-07-31 16:37] jkoritzinsky commented on #1422
I'm not sure. That's part of the libraries test infrastructure. @ViktorHofer would know better than I.

[2020-07-31 19:07] danmosemsft commented on #1422
duplicate: https://github.com/dotnet/runtime/issues/40215

[2020-07-31 19:08] danmosemsft commented on #1422
duplicate of https://github.com/dotnet/runtime/issues/40215

[2020-07-31 19:08] #1422 closed

[2020-07-31 19:08] danmosemsft commented on #1422
Well, I guess Github duplicates don't work across repos...

[2020-07-31 19:56] alexcovington commented on #1422
@danmosemsft Strange, I appreciate the link to the other issue. I'll follow that one for a fix. Thanks for your help!

[2020-08-02 19:56] danmoseley opened #1426 "benchmarks_ci.py still requires "netcoreapp5.0""
benchmarks_ci.py still requires "netcoreapp5.0". I am not sure whether "dotnet build" will continue to recognize that indefinitely: it should use "net50" now.

[code]

[2020-08-04 19:01] adamsitnik commented on #1426
FWIW BenchmarkDotNet is also using "netcoreapp5.0" everywhere so if we want to change it then BDN should get updated as well https://github.com/dotnet/BenchmarkDotNet/search?q=netcoreapp5.0&unscoped_q=netcoreapp5.0

[2020-08-05 06:12] danmosemsft opened #1432 "benchmarks_ci.py does not work on Ubuntu 20.04"
Ubuntu 20.04 has Python 3.8, unless you build from source. Then benchmarks_ci.py fails with:
[code]
Maybe I'm the only one who uses this script on a dev machine.

[2020-08-06 21:26] danmosemsft commented on #1432
Not sure how @alexcovington got past this https://github.com/dotnet/performance/issues/1412

[2020-08-06 21:56] DrewScoggins opened #1438 "Perf Process Tests failing in the lab"
[code]

[2020-08-06 21:56] DrewScoggins commented on #1438
I will update this with more info later

[2020-08-07 00:07] alexcovington commented on #1432
I don't use `benchmarks_ci.py`, I get the same output when I use it. I usually do something like this:

[code]

[2020-08-07 09:23] adamsitnik opened #1440 "Consider adding ICU version to the exported results"
We are now very dependent on ICU, as discussed recently we could store its version.

Here is how to obtain it:

https://github.com/dotnet/runtime/blob/61b284325be69ce1cb9303b9dc388922590baaad/src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs#L194-L215

cc @DrewScoggins

[2020-08-10 08:36] adamsitnik commented on #1438
it's a very weird exception, the setup sets the field to its own PID and afterward, the benchmark is just using it:

https://github.com/dotnet/performance/blob/1c5e64a3a0d3619a5b72be63cd54add5156532cc/src/benchmarks/micro/libraries/System.Diagnostics/Perf_Process.cs#L19-L23

Is this specific to mono only?

[2020-08-10 19:33] kunalspathak opened #1444 "Eliminate usage of volatile variables used to prevent dead code elimination"
Today, there are [various uses](https://github.com/dotnet/performance/search?p=2&q=volatile&unscoped_q=volatile) of `volatile` variable to make sure the result (and hence the operation itself) doesn't get eliminated through dead code. There is guidance [here](https://github.com/dotnet/performance/blob/6ce5b33651f6fe4ea27befec585e7d68d1f022db/docs/microbenchmark-design-guidelines.md#dead-code-elimi

[2020-08-10 19:55] kunalspathak commented on #1444
@adamsitnik , @BruceForstall

[2020-08-12 06:58] adamsitnik commented on #1402
Have we considered the removal of the `BinaryFormatter` benchmarks? If the type is obsolete and we want our users to stop using it, perhaps we should stop using it ourselves?

[2020-08-12 07:18] #1444 closed

[2020-08-12 16:02] GrabYourPitchforks commented on #1402
I think it's still worthwhile to run minimal benchmarks. We say that even though we're no longer fixing issues with it, we'll consider serious perf regressions. But I wouldn't invest in any _new_ benchmarks in this area.

[2020-08-12 16:04] ooooolivia commented on #1402
Our intention was to still test it as long as there are users using it. However, my second thought is, even if we catch severe regression at some point in the future, we would just tell the user this method is obsolete and won't do any performance improvement work for an obsolete method ( just my assumption, correct me if I'm wrong).

[2020-08-12 18:16] danmosemsft commented on #1402
If we seriously regressed its performance we would potentially service for that. So I think we should protect perf for a bit longer.

[2020-08-12 20:39] GrabYourPitchforks commented on #1402
We would potentially service severe performance regressions. It's called out [in the obsoletion docs](https://github.com/dotnet/designs/blob/master/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md#all-outstanding-binaryformatter-related-issues-resolved-wont-fix-net-5) as something we'd consider.

[2020-08-12 22:48] ooooolivia commented on #1392
There's missing data between 8/7 - 8/10 because there's problem with inserting new SDK into installer. https://github.com/dotnet/installer/pull/8129

[2020-08-12 23:25] DrewScoggins commented on #1438
I think that this was happening on both CoreCLR and Mono.

Coreclr: https://helix.dot.net/api/2019-06-17/jobs/bf571916-434c-45ea-a150-8aff02ad93b9/workitems/x64.micro.net5.0.Partition15/console?access_token=

Mono: https://helix.dot.net/api/2019-06-17/jobs/8db09b5e-8016-452f-bf9b-049300db548f/workitems/x64.micro_mono.net5.0.Partition15/console?access_token=

[2020-08-13 01:00] danmosemsft commented on #1438
Presumably only on Linux?

[2020-08-13 23:27] danmoseley opened #1452 "Refresh and pare down benchmarks game benchmarks"
Some of our Benchmark Games [benchmarks](https://github.com/dotnet/performance/tree/master/src/benchmarks/micro/runtime/BenchmarksGame) are a bit old and don't match what they're using now. We also have several copies of 7 of them, which seems wasteful.

*	spectralnorm winner is # 5 (uses intrinsics). We should pick that up and drop # 1 and possibly the other.
*	k-nucloetide winner is # 1 (uses Di

[2020-08-14 00:35] danmosemsft opened #1454 "Investigate regressions of binary-trees and fannkuch on benchmarksgame site"
Benchmarks game site has a comparison up of 3.1 vs . 5.0 preview 7 : https://benchmarksgame-team.pages.debian.net/benchmarksgame/fastest/csharpcore-csharppreview.html

There are 4 regressions, 2 may be noise level. The other two are binary-trees (7%)  and fannkuch-redux (4%)

I'll check those two using the source of the latest submissions.

[2020-08-14 00:48] danmosemsft commented on #1454
Here's the results i get on Ubuntu using the latest sources for these two games (BinaryTrees_6 and FannkuchRedux_9 from https://github.com/dotnet/performance/pull/1453 but with the official input parameters)

[code]
|          Type |        Method |        Job |       Runtime |     Toolchain | MaxIterationCount |       Mean |     Error |    StdDev |     Median |        Min |        Max | Ratio | R

[2020-08-14 00:52] danmosemsft commented on #1454
cc @benaadams

[2020-08-14 01:03] AndyAyersMS commented on #1452
Initially I just wanted to select versions that were good tests for codegen, and not worry so much about which were the fastest. A few years back we augmented the initial set with the then-fastest variants, which is why we have two or more of some of the tests.

I'm ok with updating any or all of these, provided that for a given test, we don't exclusively pick variants that dive into native code f

[2020-08-14 01:16] billwert commented on #1454
If this is to track a potential regression in the product should we move it to dontet/runtime @danmosemsft?

[2020-08-14 01:22] danmosemsft commented on #1452
OK, well let's not remove any until 5.0 is shipped, then we can think about it if we want.

[2020-08-14 08:14] adamsitnik commented on #1452
Perhaps we should just add new benchmarks and keep the old ones?

[2020-08-14 15:16] danmosemsft commented on #1452
Not sure how short perf machine time is though.

[2020-08-14 15:28] adamsitnik commented on #1452
This repo is configured in a way that every benchmark iteration should take 250ms and there should be no more than 20 iterations. So on average, every benchmark takes 20x0.25s = 5s to execute.
The benchmarks are split into partitions and run using multiple machines at the same time.

So in general adding a few benchmarks that make sense is never a problem.

[2020-08-14 15:55] danmosemsft commented on #1452
We might consider having just one variant for each scenario and using the official parameters. I think they take 1-8 secs an iteration but we’d be sure of measuring the same dynamics. Don’t know whether it matters.

[2020-08-14 18:45] billwert commented on #1452
Right now we are a long way from being machine bound. When we get there we'll take a much more holistic approach to trimming.

[2020-08-17 18:52] carlossanlop opened #1458 "Change netcoreapp5.0 to net5.0"
It's my understanding that the correct moniker to use for 5.0 is `net5.0`. I am not sure if that could be causing unexpected issues.
This change would have to be done in csproj and md files.

[2020-08-17 20:22] adamsitnik commented on #1458
Hi @carlossanlop !

We know that we should switch to new moniker, but there are always more important and urgent things to implement ;p

I am going to close this issue as it's tracked by https://github.com/dotnet/performance/issues/1426

Thanks!

[2020-08-17 20:22] #1458 closed

[2020-08-18 19:00] billwert commented on #1432
Fixed by #1459

[2020-08-18 19:00] #1432 closed

[2020-08-21 00:28] DrewScoggins opened #1472 "Make path to mono corerun in prof file move with version updates"
We currently have to manually update the runtime version string in the proj files checked into arcade. We should look into what would need to be done to have this be automatic.

[2020-08-21 08:26] adamsitnik commented on #1472
Do you mean the change from `5.0.0` to `6.0.0` in https://github.com/dotnet/runtime/pull/41132?

Most probably there is some magic MSBuild property that comes from Arcade / directory.build.props file that contains this version number and could be used like this:

[code]

@safern or @ViktorHofer should know best

[2020-08-21 08:47] safern commented on #1472
That would be repo specific. But there is MajorVersion, MinorVersion and BuildVersion.

In this case since this is not a runtime repo, we would need to set it here directly.

[2020-08-21 09:24] adamsitnik opened #1475 "How can we prevent from breaking Mono benchmark runs again?"
Recently a simple addition of `StringUtf8` benchmarks has broken Mono benchmark runs in the runtime repo (see https://github.com/dotnet/performance/pull/1467#issuecomment-677855127 for full details)

How can we prevent from happening it again?

My first thought is to add a Mono CI leg to the perf repo. But this depends on dotnet SDK support for Mono

@naricc @SamMonoRT Let's forget about the compl

[2020-08-21 21:13] DrewScoggins opened #1476 "Runtime perf runs in public pipelines"
Currently, we do not have live PR support, but we do still run batched commit on the public queues in runtime. Since we are not collecting any performance data from these we should turn them off. Likely, we will want to just wrap all of the jobs in conditionals so they do not fire on public pipelines.

Also part of this we should see if we can re-enable per PR runs but only on demand. That way whe

[2020-08-24 19:33] danmosemsft opened #1480 "Failure in Drawing test when running on Alpine"
Here's how I was able to successfully run on Alpine (in WSL in my case)

1. Installed Alpine WSL from the Windows store
1. Open cmd prompt
1. `wsl.exe --distribution Alpine --user root`
1.` passwd` # set root pwd
1. `apk add sudo`
1. un-commenting a line in the`/etc/sudoers` file to allow anyone use sudo who is in the sudo group `sudo ALL=(ALL) ALL`
1. `addgroup sudo`
1. `usermod -aG sudo <usernam

[2020-08-24 19:34] danmosemsft commented on #1480
cc @billwert @DrewScoggins @adamsitnik

I did this because I was curiuos how we looked on a MUSL distribution and whether we should consider running Alpine regularly.

[2020-08-24 20:39] danmosemsft commented on #1480
cc @safern

[2020-08-24 21:28] naricc opened #1481 "Add Tool Chain for Net 5.0 Mono AOT"
This existing tool chain doesn't work for AOT in Net 5.0, so we need to create a new one. I think this can be done in the performance repo instead of BenchmarkDotnet, although maybe we want to put it there instead?

[2020-08-24 21:29] naricc commented on #1481
If some one could please assign me to this issue :)

[2020-08-24 22:30] danmosemsft commented on #1480
With the help of @akoeplinger I was able to do commands like
[code]
and finally get `libgdiplus-6.0.4-r1 x86_64` installed.

I can confirm this fixes the problem. In short: if we want to run tests on Alpine, we need to ensure `libgdiplus-6.0.4-r1 x86_64` (as well as other stuff above) is on the images.

@billwert feel free to close, or to leave open to enable Alpine runs at some point in the futur

[2020-08-24 22:41] billwert commented on #1480
@danmosemsft We should probably have a chat about Alpine at some point and how we want to handle other distros. I'm going to close this one for now and we can reopen it if needed.

[2020-08-24 22:41] #1480 closed

[2020-08-25 06:44] adamsitnik commented on #1481
You might need to change something in BDN itself to make it work (the same way you did with `WasmToolchain`).

You can start by adding it here and over time we can move it to BenchmarkDotnet repository.

[2020-08-26 06:19] DrewScoggins opened #1483 "Investigate Fannkuch_9 failures on ARM64"
I have disabled this test for now so that we don't lose 600+ results per run, but we need to figure out why this test is failing.

[2020-08-26 06:36] adamsitnik commented on #1483
@DrewScoggins do you have any logs from the failure? I've tried to repro it on my ARM64 machine (Surface Pro X) and it works fine. I am asking because if there is a bug in dotnet/runtime we should report it and fix asap as well (RC1 + the code of the benchmark itself is not using any vector magic and it should just work)

[2020-08-26 17:03] DrewScoggins commented on #1483
I have posted the log below, you can get the full log here, https://helix.dot.net/api/2019-06-17/jobs/5338cd65-e862-49cf-bd4c-84c440dd1d4b/workitems/Partition4/console?access_token={Get from helix.dot.net}

I agree we should try and get this figured out, but we need to unblock the lab as well.

[code]

[2020-08-26 18:10] adamsitnik commented on #1483
@kunalspathak @AndyAyersMS could this be an ARM64 only bug introduced to the product recently?

[2020-08-26 18:12] kunalspathak commented on #1483
I will try to reproduce it. Does it happen on any specific platform like Windows or Linux only or doesn't matter. Also, could you please paste the command line parameters to reproduce it?

[2020-08-26 18:32] adamsitnik commented on #1483
[code]

 I am not able to reproduce it on Windows (`Surface Pro X`). The python script downloads the latest SDK and for me, the Runtime version was `5.0.20.41714` when I was checking it few minutes. I wonder whether this a Linux specific issue, it's related to number of CPUs (the [code is dependent on it](https://github.com/dotnet/performance/blob/ac44a9b14552c289e10ad594c56a56492f456f66/src/bench

[2020-08-26 18:37] kunalspathak commented on #1483
I am able to reproduce this with `CoreRun.exe` of https://github.com/dotnet/runtime/commit/c9da1ed4ad677ed35d7bf9402de60c9b7d6d4a6e which is from last week and `dotnet` with rc1. Here is the output on my machine with `dotnet --list-sdks`
[code]

[2020-08-26 18:38] DrewScoggins commented on #1483
I am going to give this a run on some of our lab machines as well. Would a core dump be useful?

[2020-08-26 18:42] AndyAyersMS commented on #1483
@adamsitnik could be, yes.

@kunalspathak since you can repro, can you own root causing this? It will likely repro with builds from master too.

[2020-08-26 18:47] DrewScoggins commented on #1483
I also reproduced this on `.NET Core SDK=6.0.100-alpha.1.20426.4`, so you should be able to just use master.

[2020-08-26 18:52] kunalspathak commented on #1483
So the test spawns threads equal to no. of processors to do a specific task. The test fails for certain no. of threads. Here are the list of threads for it fails. The machine I am testing has 46 cores. I created a standalone application to repro it.

[code]

I am wondering if this ever passed on ARM64? When was the last time it passed because I see this test recently added by @danmosemsft  in http

[2020-08-26 19:44] AndyAyersMS commented on #1483
Maybe the algorithm is buggy an only works for certain numbers of threads?

[2020-08-26 19:50] kunalspathak commented on #1483
Yes, that's what it is. On my dev machine, I get exact same output when tried no. of threads 1 thru 46. Although I just have 12 cores, the first failure happens on 13 threads.

Here is the `dotnet --list-sdks` output on my dev machine:

[code]

FYI @danmosemsft .

[2020-08-26 19:52] alexcovington opened #1485 "System.Numerics.Tests.Perf_BigInteger.Ctor_ByteArray benchmark crashes when profiling ETW"
When I try to run the `System.Numerics.Tests.Perf_BigInteger.Ctor_ByteArray` benchmark and collect an ETW trace, the benchmark crashes. I'm running the benchmark using the following command:

[code]

The benchmarks start running, but towards the end it throws the following error:

[code]

If I omit the `--bdn-arguments '-p ETW'`, it doesn't crash.

Here's the `dotnet --info` output from `benchmark

[2020-08-26 19:56] kunalspathak commented on #1483
Here is the standalone code, if anyone is interested.

<details>
<summary>Repro code</summary>

[code]
</details>

[2020-08-26 20:07] AndyAyersMS commented on #1483
This bit seems suspect:
[code]
seems like `taskCount` should evenly divide `fact[n]`?

Looks like failing cases are all numbers that have a prime > 11 in their factorization.

[2020-08-26 20:47] billwert commented on #1485
@alexcovington Can you confirm you are using an admin command prompt?

[2020-08-26 21:52] alexcovington commented on #1485
Yes, admin Developer Powershell for VS 2019

[2020-08-26 23:57] billwert commented on #1485
Interesting.

@brianrob this is what I get on my machine:
[code]

On 3.0 I got this:
[code]

Note that it is seemingly complaining about some event source name. That's super weird to me, and that name hasn't changed in years. [Source](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Private.CoreLib/src/System/Buffers/ArrayPoolEventSource.cs#L8) I

[2020-08-27 00:12] brianrob commented on #1485
Definitely seems odd.  I would not have expected `EnableKernelProvider` to have anything to do with what looks like a manifest.  I suspect something unrelated has gone wrong here, but can't be sure.  This probably needs to be debugged.

[2020-08-27 17:47] adamsitnik commented on #1483
@kunalspathak @AndyAyersMS big thanks for your help and apologies for the false alarm. I've fixed it via #1488

[2020-08-27 17:47] #1483 closed

[2020-08-31 09:57] srxqds opened #1493 "can mono runtime use this for profiler?"
I found the profiler document at https://github.com/dotnet/performance/blob/master/docs/profiling-workflow-dotnet-runtime.md.
could I use it with mono runtime?
if not, how can I propfiler with mono runtime?

[2020-08-31 15:05] adamsitnik commented on #1493
I am afraid not, these instructions are specific to .NET Core.

@brianrob @SamMonoRT @akoeplinger do we have any docs that describe how to profile Mono?

[2020-08-31 15:47] adamsitnik commented on #1476
@DrewScoggins I like the idea of having it on-demand to verify that some big infra changes are not breaking the perf runs. For me so far the most common problem was the removal of corerun from the test host folder.

@ViktorHofer @safern what are your thoughts on this?

[2020-08-31 15:50] safern commented on #1476
So CI runs are the only protection we have. If we turn those off and we make an infra change and forget to run them on demand we could break the perf runs?

[2020-08-31 15:55] adamsitnik commented on #1476
An alternative solution could be to run a single benchmark for every PR (not all benchmarks once, but just one benchmark once). It should be enough to detect infra changes?

[2020-08-31 16:44] safern commented on #1476
Where do infra changes happen are those in dotnet/runtime? Can we make the pipeline path based?

[2020-09-02 14:20] adamsitnik opened #1497 "CompareExchange_long benchmark sometimes reports very long execution time on x86"
By looking at the data I got for x86 the `CompareExchange_long` benchmark typically reports time around `10ns`, but sometimes it's even `x100` more.

It's either a very weird hardware issue or a BenchmarkDotNet bug, possibly: https://github.com/dotnet/BenchmarkDotNet/issues/837

The problem is that I can't reproduce it locally... so if anyone ever faces this problem please copy-paste the content o

[2020-09-02 14:38] akoeplinger commented on #1493
Yes we have some docs here: https://www.mono-project.com/docs/debug+profile/profile/profiler/.

@SamMonoRT can probably comment on what plans we have to integrate into the dotnet profiling tools.

[2020-09-02 20:51] DrewScoggins commented on #1476
Infra changes can happen in dotnet/runtime, or they can happen in dotnet/performance. There are also some components that live in Arcade, but they are normally changed in the runtime repo as well so I am not worried about those. The biggest stuff that happens is changes to the pipeline or the arcade changes, which if we had a single test running that should give us the coverage we need, at a low m

[2020-09-03 00:38] srxqds commented on #1493
but the mono profiler can not be built on Windows?

[2020-09-03 12:25] akoeplinger commented on #1493
hmm I think it should be built on Windows too but I'm not that familiar with it.

[2020-09-08 15:58] RobertHenry6bev opened #1505 "Use of deprecated BinarySerializers trips built fault with dotnet 5.0.0"
There are ~6 places in the dotnet benchmarks that use the soon-to-be deprecated binary serializer.  Here's one:

https://github.com/dotnet/performance/blob/28c51901800c47c8715b3d8df5305206aba1a631/src/benchmarks/micro/Serializers/Binary_FromStream.cs#L62

That triggers an error when built with dotnet 5.0.0

See https://github.com/GrabYourPitchforks/docs/blob/bf_obsoletion_docs/docs/standard/serial

[2020-09-08 18:19] danmosemsft commented on #1505
Did https://github.com/dotnet/performance/pull/1403 not do the trick?

https://github.com/dotnet/performance/issues/1402

[2020-09-08 19:41] RobertHenry6bev commented on #1505
I'm working against head of master, and I believe the change #1403 is applied therein.  I still get the problem.

I'm trying to run the aspnet benchmark ensemble using the latest 5.0.0.preview-8 on an ARM64 (aarch64) linux host.  The test jig runs client code inside of a docker image.

I'm encountering situations where the various dotnet/aspnet benchmarks implicitly or explicitly refer to amd64(eg

[2020-09-08 19:43] danmosemsft commented on #1505
Oh dear. cc @ooooolivia who did #1403

[2020-09-08 20:07] adamsitnik commented on #1505
@RobertHenry6bev which asp.net benchmarks are you trying to run?

[2020-09-08 23:12] cshung opened #1507 "py . diff is broken for GC benchmarks."
After https://github.com/dotnet/performance/pull/1391, the generated test status file is no longer valid yaml, this cause the deserializer to fail when running `py . diff`.

If we wanted the nice test status file format, we probably need to hack the deserializer so that it will accept it.

@ivdiazsa

[2020-09-09 01:05] ivdiazsa commented on #1507
Can you provide an example? I've been working with `diff` with these changes already merged, and everything works fine for me.

[2020-09-09 16:07] cshung commented on #1507
[code]

C:\Dev\performance\src\benchmarks\gc\bench\suite\normal_server.yaml.out\a__only_config__0gb__0.yaml
[code]

[2020-09-09 17:28] ooooolivia commented on #1505
@DrewScoggins  @billwert

[2020-09-09 17:34] adamsitnik commented on #1505
@RobertHenry6bev are you trying to run the ASP.NET benchmarks from https://github.com/aspnet/Benchmarks/ repo? or you are trying to run the microbenchmarks from this repo using a BenchmarkClient from https://github.com/aspnet/Benchmark repo?

[2020-09-09 17:42] sebastienros commented on #1505
Can you provide an example? On another related issue I already mentioned that our clients don't work on ARM, you can only use then on Lin/Win, but it doesn't prevent you from benchmarking the app on the ARM machine, just the load generators. We run most of our benchmarks on ARM too.

For GRPC, we only test on Win/Lin. However the clients and servers have .NET implementation that should work fine.

[2020-09-09 17:47] RobertHenry6bev commented on #1505
I am trying to run the aspnet benchmarks from https://github.com/aspnet/Benchmarks.git using the legacy docker client/agent/db/server setup.

Ach. I have stupidly regressed to running client on the arm.  I'll restructure my ensemble.

[2020-09-09 18:23] adamsitnik commented on #1505
this repo (`dotnet/performance`) and `aspnet/Benchmarks` are two independent repositories.

@RobertHenry6bev Could you please open an issue in https://github.com/aspnet/Benchmarks repo then?

[2020-09-09 19:05] ivdiazsa commented on #1507
I see the problem. Since the output contains a Windows path, say it contains for example `C:\Git`, the serializer is treating `\G` as a single character, when in reality the backslash has no hidden meaning here. The fix is to further process the `stdout` string and escape these characters to make them `\\` instead. I manually changed them in the _yaml_ file and it worked fine. Or we could revert t

[2020-09-09 22:04] GrabYourPitchforks opened #1512 "Improve granularity of Perf.Utf8Encoding.cs tests"
Per the magic decoder ring at https://github.com/dotnet/runtime/issues/41699#issuecomment-689714126, some of the tests in [__Perf.Utf8Encoding.cs__](https://github.com/dotnet/performance/blob/adccb815003451dd68586516d4f25f52f3f2ebe7/src/benchmarks/micro/libraries/System.Text.Encoding/Perf.Utf8Encoding.cs) may be testing too many concepts, which can complicate finding regressions.

I'd recommend re

[2020-09-09 22:29] ivdiazsa commented on #1507
Further looking at it, replacing `\` with `\\` might potentially ruin the newline character replacement that is done to print it nicely. If this is the case, then we might just need to deal with the badly formatted output the Python serializer creates.